force-app/main/default/flows/Account_Personal_contact_details_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Concatenate_Applicant_Names</name>
        <label>Concatenate Applicant Names</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_thru_Applicants.Account__r.FirstName} {!Loop_thru_Applicants.Account__r.LastName}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Last_Name_Changed</name>
        <label>First Last Name Changed</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_And_Not_A_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstLastNameChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActiveApplicant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicants</targetReference>
            </connector>
            <label>Yes And Not A Participant</label>
        </rules>
        <rules>
            <name>No_And_Not_A_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstLastNameChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActiveApplicant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Notifications_Only</targetReference>
            </connector>
            <label>No And Not A Participant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_is_deactivated</name>
        <label>Participant is deactivated</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActiveApplicant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_IsParticipant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Personal_Contact_Details_Changed</name>
        <label>Personal Contact Details Changed</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Participant_is_deactivated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Details_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MiddleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MiddleName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_ins__Gender__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonHomePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonBirthdate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstLastNameChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant</targetReference>
            </connector>
            <label>Contact Details Changed</label>
        </rules>
    </decisions>
    <description>When relevant person account details have changed, update the associated provisional application record to initiate application notifications

VHF-1661 added to handle inactive participants</description>
    <formulas>
        <description>Remove the last two characters - comma and space</description>
        <name>ApplicantNamesProcessed</name>
        <dataType>String</dataType>
        <expression>LEFT({!ApplicantsStr}, LEN({!ApplicantsStr})-2)</expression>
    </formulas>
    <formulas>
        <description>Determine if the applicant&apos;s name has changed</description>
        <name>FirstLastNameChanged</name>
        <dataType>Boolean</dataType>
        <expression>({!$Record.FirstName})!=({!$Record__Prior.FirstName})||({!$Record.LastName})!=({!$Record__Prior.LastName})</expression>
    </formulas>
    <interviewLabel>Account - Personal contact details changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Personal contact details changed</label>
    <loops>
        <name>Loop_thru_Applicants</name>
        <label>Loop thru Applicants</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Applicant_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This retrieves the relevant applicant record for the person account whose name has changed</description>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Last_Name_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Applicant__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This retrieves all applicants related to the relevant application</description>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.IndividualApplication__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_Notifications_Only</name>
        <label>Trigger Notifications Only</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.IndividualApplication__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provisional Application Submitted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Personal_Details_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_IsParticipant</name>
        <label>Uncheck IsParticipant</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Is_Participant__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.IndividualApplication__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApplicantNames__c</field>
            <value>
                <elementReference>ApplicantNamesProcessed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Details_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Personal_Contact_Details_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonBirthdate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantsStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
