force-app/main/default/flows/Annual_Review_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_SRO_officer</name>
        <label>Notify SRO officer</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AdditionalInformationProvided</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Group_Email_0.Internal_Group_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Additional information provided: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_SRO_officer_0</name>
        <label>Notify SRO officer</label>
        <locationX>3674</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AdditionalInformationProvided</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Group_Email.Internal_Group_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Additional information provided: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancellation_Email</name>
        <label>Send Cancellation Email</label>
        <locationX>3938</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_2_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AnnualReviewCancelled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ParticipantEmailsFormatted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review cancelled: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Completion_Email</name>
        <label>Send Completion Email</label>
        <locationX>3498</locationX>
        <locationY>1151</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Completed_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AnnualReviewComplete</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_All_Participants.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review completed: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Secondary_Participant_Verification</name>
        <label>Send Secondary Participant Verification</label>
        <locationX>2946</locationX>
        <locationY>2519</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Update_Verification_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SecondaryParticipants_VerifySubmission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Participants_Again.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review verification: Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_Confirmation_to_Participants_0</name>
        <label>Send Submission Confirmation to Participants</label>
        <locationX>1018</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Completed_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgSubmissionParticipants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Participants_for_Submission_confirmation.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review request received: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_Request_to_Primary_Participant</name>
        <label>Send Submission Request to Primary Participant</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Campaign_Member_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgAnnualReviewRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Primary_Participant__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review: Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Update_Verification</name>
        <label>Send Update Verification</label>
        <locationX>3146</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Update_Verification_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SecondaryParticipants_VerifyUpdates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Targeting_Secondaries.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review update verification: Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Completed_Email</name>
        <label>Add Completed Email</label>
        <locationX>3498</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CompletedEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnualReviewComplete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.IsTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual review completed: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Participants.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Email_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Completed_Email_0</name>
        <label>Add Completed Email</label>
        <locationX>1018</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>CompletedEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailMsgSubmissionParticipants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.IsTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual review request received: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_for_Submission_confirmation.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Email_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Collection</name>
        <label>Add Email to Collection</label>
        <locationX>2946</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>VerificationEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VerificationEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Collection_0</name>
        <label>Add Email to Collection</label>
        <locationX>3498</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>CompletedEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Collection_0_0</name>
        <label>Add Email to Collection</label>
        <locationX>3146</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>VerificationEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VerificationEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Targeting_Secondaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Collection_0_0_0</name>
        <label>Add Email to Collection</label>
        <locationX>1018</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>CompletedEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_for_Submission_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Task_Collection</name>
        <label>Add to New Task Collection</label>
        <locationX>3010</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Verification_Task_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Verification_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Participant_Firstname_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Task_Update_Collection</name>
        <label>Add to Task Update Collection</label>
        <locationX>2970</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>Verification_TaskUpdate_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Verification_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Update_Verification_Email</name>
        <label>Add Update Verification Email</label>
        <locationX>3146</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>VerificationEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryParticipants_VerifyUpdates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.IsTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual review update verification: Victorian Homebuyer Fund</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Targeting_Secondaries.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Email_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Update_Verification_Email_0</name>
        <label>Add Update Verification Email</label>
        <locationX>2946</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>VerificationEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryParticipants_VerifySubmission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.IsTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual review verification: Victorian Homebuyer Fund</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_Again.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Email_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Emails</name>
        <label>Concatenate Emails</label>
        <locationX>2280</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ParticipantEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Participants.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Participants.PersonEmail},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Verification_Task</name>
        <label>New Verification Task</label>
        <locationX>3010</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Verification_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual Review Verification </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_Again.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UserId_of_Participant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For any verification tasks that are associated to secondary participants (due to a major update), remark them as Open</description>
        <name>Reset_Verification_Task</name>
        <label>Reset Verification Task</label>
        <locationX>2970</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Verification_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Verification_Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the number of tasks currently assigned to secondary participants</description>
        <name>Set_Existing_Task_Size</name>
        <label>Set Existing Task Size</label>
        <locationX>2442</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ExistingTaskSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Verification_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_Firstname</name>
        <label>Set Participant Firstname</label>
        <locationX>3498</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ParticipantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Participants.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Completion_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_Firstname_0</name>
        <label>Set Participant Firstname</label>
        <locationX>3146</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ParticipantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Targeting_Secondaries.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Update_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_Firstname_0_0</name>
        <label>Set Participant Firstname</label>
        <locationX>2946</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>ParticipantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_Again.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Secondary_Participant_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_Firstname_0_0_0</name>
        <label>Set Participant Firstname</label>
        <locationX>1018</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ParticipantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_for_Submission_confirmation.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Submission_Confirmation_to_Participants_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_ID_Match</name>
        <label>Account ID Match</label>
        <locationX>3102</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_Tasks.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Participants_Again.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Verification_Task</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Annual_Review_Status</name>
        <label>Check Annual Review Status</label>
        <locationX>2192</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FiveSecAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_id_exists</targetReference>
            </connector>
            <label>Awaiting Submission</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major_Update_complete</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Awaiting_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Awaiting Verification</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfParticipants</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Targeting_Secondaries</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Participants</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Minor_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor Update Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Minor Update</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ReadOnly_RecordType</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_id_exists</name>
        <label>Email exists?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Participant__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Submission_Request_to_Primary_Participant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Secondary_Participant</name>
        <label>Is Secondary Participant</label>
        <locationX>3278</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Loop_Targeting_Secondaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Targeting_Secondaries.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Participant__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Participant_Firstname_0</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Secondary_Participant_0</name>
        <label>Is Secondary Participant</label>
        <locationX>3110</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Loop_Participants_Again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Participants_Again.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Participant__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tasks_Exist</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Major_Update_complete</name>
        <label>Major Update complete</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign_Member_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major Update Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Email_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Exist</name>
        <label>Tasks Exist</label>
        <locationX>2946</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Get_UserId_of_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTaskSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Existing_Tasks</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <formulas>
        <name>FiveSecAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1/17280</expression>
    </formulas>
    <formulas>
        <name>ParticipantEmailsFormatted</name>
        <dataType>String</dataType>
        <expression>LEFT({!ParticipantEmails}, LEN({!ParticipantEmails})-1)</expression>
    </formulas>
    <interviewLabel>Annual Review Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Annual Review Notifications</label>
    <loops>
        <name>Loop_All_Participants</name>
        <label>Loop All Participants</label>
        <locationX>3410</locationX>
        <locationY>911</locationY>
        <collectionReference>GetParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Participant_Firstname</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message_Activity_2_0_0_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Tasks</name>
        <label>Loop Existing Tasks</label>
        <locationX>2882</locationX>
        <locationY>1631</locationY>
        <collectionReference>Get_Existing_Verification_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_ID_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Participant_Firstname_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants</name>
        <label>Loop Participants</label>
        <locationX>2192</locationX>
        <locationY>455</locationY>
        <collectionReference>GetParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Annual_Review_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants_Again</name>
        <label>Loop Participants Again</label>
        <locationX>2442</locationX>
        <locationY>1271</locationY>
        <collectionReference>GetParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Secondary_Participant_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message_Activity_2_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants_for_Submission_confirmation</name>
        <label>Loop Participants for Submission confirmation</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <collectionReference>GetParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Participant_Firstname_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message_Activity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Targeting_Secondaries</name>
        <label>Loop Targeting Secondaries</label>
        <locationX>3058</locationX>
        <locationY>911</locationY>
        <collectionReference>GetParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Secondary_Participant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message_Activity_2_0_0_0_0_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message_Activity</name>
        <label>Create Email Message Activity</label>
        <locationX>930</locationX>
        <locationY>1967</locationY>
        <inputReference>CompletedEmailCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_0</name>
        <label>Create Email Message Activity</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>AdditionalInformationProvided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Additional information provided: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Get_Group_Email_0.Internal_Group_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>3674</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>AdditionalInformationProvided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Additional information provided: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Get_Group_Email.Internal_Group_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_2</name>
        <label>Create Email Message Activity</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgAnnualReviewRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual review: Victorian Homebuyer Fund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Primary_Participant__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_2_0</name>
        <label>Create Email Message Activity</label>
        <locationX>2442</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Create_Verification_Tasks</targetReference>
        </connector>
        <inputReference>VerificationEmailCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_2_0_0_0_0_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>3410</locationX>
        <locationY>1607</locationY>
        <inputReference>CompletedEmailCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_2_0_0_0_0_0_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>3938</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>AnnualReviewCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual review cancelled: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>ParticipantEmailsFormatted</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_2_0_0_0_0_0_0_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>3058</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>Save_Review_Updated_Time</targetReference>
        </connector>
        <inputReference>VerificationEmailCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Verification_Tasks</name>
        <label>Create Verification Tasks</label>
        <locationX>2442</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>Update_Verification_Tasks</targetReference>
        </connector>
        <inputReference>Verification_Task_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Verification_Tasks</name>
        <label>Get Existing Verification Tasks</label>
        <locationX>2442</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Existing_Task_Size</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Two__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Three__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Four__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Review Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Email</name>
        <label>Get Group Email</label>
        <locationX>3674</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_SRO_officer_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VHF_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Email_0</name>
        <label>Get Group Email</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_SRO_officer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VHF_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ReadOnly_RecordType</name>
        <label>Get ReadOnly RecordType</label>
        <locationX>3938</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Record_ReadOnly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual_Review_ReadOnly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UserId_of_Participant</name>
        <label>Get UserId of Participant</label>
        <locationX>3010</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Verification_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Participants_Again.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParticipants</name>
        <label>GetParticipants</label>
        <locationX>2192</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Participant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Verification_Tasks</name>
        <label>Close Verification Tasks</label>
        <locationX>3938</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Send_Cancellation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Review Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Record_ReadOnly</name>
        <label>Make Record ReadOnly</label>
        <locationX>3938</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Close_Verification_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ReadOnly_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Review_Updated_Time</name>
        <label>Save Review Updated Time</label>
        <locationX>3058</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Updated_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Reminder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Verification_Request_DateTime</name>
        <label>Save Verification Request DateTime</label>
        <locationX>2442</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Update_Submitted_Date02</targetReference>
        </connector>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Reminder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Request_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>2442</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Existing_Verification_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Participant__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_0</name>
        <label>Update Campaign Member</label>
        <locationX>930</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Submitted_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Participant__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_1</name>
        <label>Update Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Create_Email_Message_Activity_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Participant__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_Date</name>
        <label>Update Submitted Date</label>
        <locationX>930</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Loop_Participants_for_Submission_confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submitted_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_Date02</name>
        <label>Update Submitted Date</label>
        <locationX>2442</locationX>
        <locationY>3551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submitted_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Verification_Tasks</name>
        <label>Update Verification Tasks</label>
        <locationX>2442</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Save_Verification_Request_DateTime</targetReference>
        </connector>
        <inputReference>Verification_TaskUpdate_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>2066</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParticipants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Schedule_Reminder__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Review_Updated_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Annual_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AdditionalInformationProvided</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review request - Additional information provided&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!$Record.Owner_Name__c}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Additional information that was requested from the participant has been provided.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual Review details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Annual review ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Participant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Participant_Names__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Org_URL__c}/lightning/r/Annual_Review__c/{!$Record.Id}/view&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 32.3px 0px;&quot;&gt;View annual review&amp;nbsp;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AnnualReviewCancelled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review Cancelled&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!$Record.Primary_Participant_Firstname__c}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The Annual Review request submitted for  {!$Record.Property_Address__c} has been cancelled.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual Review details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Annual review ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Cancellation Reason&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Cancellation_Reason__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Submitted_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted by&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Primary_Participant_Firstname__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Participant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Participant_Names__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AnnualReviewComplete</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual Review Completed&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!ParticipantFirstName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The verification of the annual review request submitted for  {!$Record.Property_Address__c} has been completed.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual Review details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Annual review ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Submitted_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted by&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Primary_Participant_Firstname__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Participant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Participant_Names__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgAnnualReviewRequest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review submission required&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!$Record.Primary_Participant_Firstname__c}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An annual review for the property {!$Record.Property_Address__c} is due on {!$Record.Due_Date__c}.&lt;br&gt;&lt;br&gt;Please submit your annual review using the portal.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/participants/s/&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Submit annual review&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have not logged into the portal before, please contact the State Revenue Office to finish setting up your account.&lt;/span&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSubmissionParticipants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review request submitted&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ParticipantFirstName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Weve received your annual review request.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt;&lt;b&gt;&lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Annual review ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Submitted_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted by&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Primary_Participant__r.FirstName} {!$Record.Primary_Participant__r.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Participant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Participant_Names__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SecondaryParticipants_VerifySubmission</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review verification&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ParticipantFirstName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Please verify the annual review request submitted by {!$Record.Primary_Participant_Firstname__c} for {!$Record.Property_Address__c}.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/participants/s/&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Verify annual review&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;br&gt;&lt;br/&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;If you have not logged into the portal before, please contact the State Revenue Office to finish setting up your account.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SecondaryParticipants_VerifyUpdates</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background -color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review update verification&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!ParticipantFirstName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Please verify the updates to the annual review request submitted by {!$Record.Primary_Participant_Firstname__c} for {!$Record.Property_Address__c}.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/participants/s/&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Verify updates&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;br&gt;&lt;br/&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VerificationReminder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual review submission
verification reminder&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!TaskOwnerName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;This is a reminder to verify updates to the annual review request submitted by {!$Record.Primary_Participant_Firstname__c} for {!$Record.Property_Address__c}.&lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/participants/s/&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Verify updates&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>CompletedEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>CompletedEmailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>ExistingTaskSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfParticipants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParticipantEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryParticipantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateVerificationReminderEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>UpdateVerificationReminderEmailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Verification_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Verification_Task_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Verification_TaskUpdate_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VerificationEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>VerificationEmailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
