force-app/main/default/flows/Annual_Review_Reminder_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Verification_Email</name>
        <label>Send Verification Email</label>
        <locationX>270</locationX>
        <locationY>888</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Update_Verification_Reminder_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UpdateVerificationReminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>TaskEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review update verification reminder: Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Verification_Email_01</name>
        <label>Send Verification Email</label>
        <locationX>1282</locationX>
        <locationY>888</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Update_Verification_Reminder_Email_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VerificationReminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>TaskEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Annual review verification reminder: Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Email_to_Collection</name>
        <label>Add Email to Collection</label>
        <locationX>270</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateVerificationReminderEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Collection_01</name>
        <label>Add Email to Collection</label>
        <locationX>1282</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>VerificationReminderEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VerificationReminderEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Update_Verification_Reminder_Email</name>
        <label>Add Update Verification Reminder Email</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateVerificationReminder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.IsTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual review update verification reminder: Victorian Homebuyer Fund</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateVerificationReminderEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Email_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Update_Verification_Reminder_Email_01</name>
        <label>Add Update Verification Reminder Email</label>
        <locationX>1282</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerificationReminder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.IsTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual review verification reminder: Victorian Homebuyer Fund</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationReminderEmail.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Email_to_Collection_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTaskVariables</name>
        <label>SetTaskVariables</label>
        <locationX>270</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Verification_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTaskVariables_01</name>
        <label>SetTaskVariables</label>
        <locationX>1282</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_01.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_01.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Verification_Email_01</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_01</name>
        <label>Active</label>
        <locationX>1414</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Loop_Tasks_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_01.Account.Is_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks_01.Account.Primary_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTaskVariables_01</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_Still_Active</name>
        <label>Participant Still Active</label>
        <locationX>402</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Loop_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks.Account.Is_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks.Account.Primary_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTaskVariables</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Schedule_Reminder</name>
        <label>Reset Schedule Reminder</label>
        <locationX>182</locationX>
        <locationY>1560</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Updated_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Verification_Request_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Review_Updated_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Schedule_Remider</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Schedule_Reminder_01</name>
        <label>Reset Schedule Reminder</label>
        <locationX>1194</locationX>
        <locationY>1560</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Verification_Request_DateTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Review_Updated_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Verification_Request_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Schedule_Reminder_02</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1392</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verification_Request_DateTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Review_Updated_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Verification_Tasks_01</targetReference>
            </connector>
            <label>Not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_0</name>
        <label>Status</label>
        <locationX>380</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Cancelled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReviewUpdateOffset</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Major Update Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Verification_Tasks</targetReference>
            </connector>
            <label>Not Cancelled</label>
        </rules>
    </decisions>
    <formulas>
        <description>time between when a review is updated and when a reminder is sent</description>
        <name>ReviewUpdateOffset</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Review_Updated_Time__c} + 14</expression>
    </formulas>
    <interviewLabel>Annual Review Reminder Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Annual Review Reminder Notifications</label>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Open_Verification_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Participant_Still_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message_Activity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks_01</name>
        <label>Loop Tasks</label>
        <locationX>1194</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Open_Verification_Tasks_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Active_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Message_Activity_01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message_Activity</name>
        <label>Create Email Message Activity</label>
        <locationX>182</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Reset_Schedule_Reminder</targetReference>
        </connector>
        <inputReference>UpdateVerificationReminderEmailCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_01</name>
        <label>Create Email Message Activity</label>
        <locationX>1194</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Reset_Schedule_Reminder_01</targetReference>
        </connector>
        <inputReference>VerificationReminderEmailCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Open_Verification_Tasks</name>
        <label>Get Open Verification Tasks</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Two__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Three__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Four__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Review Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Verification_Tasks_01</name>
        <label>Get Open Verification Tasks</label>
        <locationX>1194</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks_01</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Two__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Three__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Four__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual Review Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Schedule_Remider</name>
        <label>Reset Schedule Reminder</label>
        <locationX>50</locationX>
        <locationY>1680</locationY>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Schedule_Reminder_02</name>
        <label>Reset Schedule Reminder</label>
        <locationX>1062</locationX>
        <locationY>1680</locationY>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Schedule_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Annual_Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Major_Update_Verification</name>
            <connector>
                <targetReference>Status_0</targetReference>
            </connector>
            <label>Major Update Verification</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Review_Updated_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Initial_Submission_Verification</name>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Initial Submission Verification</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Verification_Request_DateTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>UpdateVerificationReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97v&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual Review Update Verification Reminder&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!TaskOwnerName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; This is a reminder to verify updates to the annual review request submitted by {!$Record.Primary_Participant_Firstname__c} for {!$Record.Property_Address__c}. &lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/participants/s/&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Verify updates&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt;© State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VerificationReminder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Annual Review Verification Reminder&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!TaskOwnerName}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; This is a reminder to verify the annual review request submitted by {!$Record.Primary_Participant_Firstname__c} for {!$Record.Property_Address__c}. &lt;/span&gt; &lt;br&gt; &lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;br&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/participants/s/&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Verify annual review&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;If you have not logged into the portal before, please contact the State Revenue Office to finish setting up your account.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt;© State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>TaskEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateVerificationReminderEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>UpdateVerificationReminderEmailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>VerificationReminderEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>VerificationReminderEmailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
