force-app/main/default/flows/ApplicationNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cancellation_Email_to_Applicants</name>
        <label>Send Cancellation Email to Applicants</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateCancellationEmailMsgActivity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgCancellationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application cancelled:Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancellation_Email_to_PFO_0</name>
        <label>Send Cancellation Email to PFO</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <actionName>IndividualApplication.Application_Cancellation_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_expiry_email_to_PFO</name>
        <label>Send expiry email to PFO</label>
        <locationX>1986</locationX>
        <locationY>575</locationY>
        <actionName>IndividualApplication.Application_Expired_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Provisional_Approval_Email_to_PFO</name>
        <label>Send Provisional Approval Email to PFO</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>IndividualApplication.Provisional_Application_Approval_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email_to_Applicants</name>
        <label>Send Rejection Email to Applicants</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Rejection_Email_Msg_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgRejectionApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Rejection.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application rejected: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email_to_PFO</name>
        <label>Send Rejection Email to PFO</label>
        <locationX>1018</locationX>
        <locationY>575</locationY>
        <actionName>IndividualApplication.Application_Rejection_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_confirmation_to_Applicants</name>
        <label>Send Submission confirmation to Applicants</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Submission_Email_Msg_Activity_Applicants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgSubmissionApplicants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Submission.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application received: Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_Email_to_PFO</name>
        <label>Send Submission Email to PFO</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>IndividualApplication.Application_Submission_Confirmation_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Update_Email_to_Applicants_0</name>
        <label>Send Update Email to Applicants</label>
        <locationX>1722</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Update_Email_Msg_Activity_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgUpdated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Update_0.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application updated: Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Update_Email_to_Applicants_0_0</name>
        <label>Send Expiry Email to Applicants</label>
        <locationX>2074</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Update_Email_Msg_Activity_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgExpiryApplicants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application expired: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Concatenate_Applicant_Names</name>
        <label>Concatenate Applicant Names</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_thru_Applicants.Account__r.FirstName} {!Loop_thru_Applicants.Account__r.LastName}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Firstname</name>
        <label>Set Applicant Firstname</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Cancellation_Email_to_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Firstname_0</name>
        <label>Set Applicant Firstname</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Rejection.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejection_Email_to_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Firstname_0_0</name>
        <label>Set Applicant Firstname</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Submission.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Submission_confirmation_to_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Firstname_0_0_0_0</name>
        <label>Set Applicant Firstname</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Update_0.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Update_Email_to_Applicants_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Firstname_0_0_0_0_0</name>
        <label>Set Applicant Firstname</label>
        <locationX>2074</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Update_Email_to_Applicants_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Application_Status</name>
        <label>Check Application Status</label>
        <locationX>1150</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FiveSecAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Applicants</targetReference>
            </connector>
            <label>Provisional Application Submitted</label>
        </rules>
        <rules>
            <name>Loan_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisionally Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Provisional_Approval_Email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Provisionally Approved</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancellation_Email_to_PFO_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Provisionally_Approved_and_Personal_Details_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisionally Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Details_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Final_Application</targetReference>
            </connector>
            <label>Provisionally Approved and Personal Details Changed</label>
        </rules>
        <rules>
            <name>Application_updated</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9 OR (10 AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Processing_Officer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Application_In_Progress_c__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notify_AHV__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Reason_picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_Of_Applicants__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Details_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Applicants_for_Update_0</targetReference>
            </connector>
            <label>Application updated</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_expiry_email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Expired</label>
        </rules>
    </decisions>
    <description>VHF-2770, VHF-2580 , VHF-3708</description>
    <formulas>
        <name>ApplicantNamesProcessed</name>
        <dataType>String</dataType>
        <expression>LEFT({!ApplicantsStr}, LEN({!ApplicantsStr})-2)</expression>
    </formulas>
    <formulas>
        <name>FiveSecAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1/17280</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SenderName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+ {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>SubmissionDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.AppliedDate}</expression>
    </formulas>
    <interviewLabel>ApplicationNotifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApplicationNotifications</label>
    <loops>
        <name>Loop_Applicants</name>
        <label>Loop Applicants</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_Firstname</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Expiry</name>
        <label>Loop Applicants for Expiry</label>
        <locationX>1986</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_Firstname_0_0_0_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Rejection</name>
        <label>Loop Applicants for Rejection</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_Firstname_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Submission</name>
        <label>Loop Applicants for Submission</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_Firstname_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Update_0</name>
        <label>Loop Applicants for Update</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_Firstname_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Personal_Details_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Applicants</name>
        <label>Loop thru Applicants</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Applicant_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message_Activity</name>
        <label>Create Email Message Activity</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSubmission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application received: Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_0</name>
        <label>Create Email Message Activity</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgProvisionalApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Provisionally Approved: Victorian Homebuyer Application - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_0_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Rejection</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgRejectionPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application rejected: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_0_0_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgCancellationPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application cancelled: Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Activity_0_0_0_0_0</name>
        <label>Create Email Message Activity</label>
        <locationX>1986</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Expiry</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgExpiryPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application expired: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejection_Email_Msg_Activity</name>
        <label>Create Rejection Email Msg Activity</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Rejection</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgRejectionApplicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application rejected: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Rejection.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Submission_Email_Msg_Activity_Applicants</name>
        <label>Create Submission Email Msg Activity-Applicants</label>
        <locationX>138</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSubmissionApplicants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application received: Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Submission.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_Email_Msg_Activity_0</name>
        <label>Create Update Email Msg Activity</label>
        <locationX>1722</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Update_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application updated: Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Update_0.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_Email_Msg_Activity_0_0</name>
        <label>Create Expiry Email Msg Activity</label>
        <locationX>2074</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Expiry</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgExpiryApplicants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application expired: Victorian Homebuyer Fund - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCancellationEmailMsgActivity</name>
        <label>Create Cancellation Email Msg Activity</label>
        <locationX>754</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgCancellationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application cancelled:Victorian Homebuyer Fund application - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>1150</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Final_Application</name>
        <label>Get Latest Final Application</label>
        <locationX>1282</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Final_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled Settlement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Personal_Details_Changed</name>
        <label>Reset Personal Details Changed</label>
        <locationX>1634</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Details_Changed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Personal_Details_Changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Personal_Details_Flag</name>
        <label>Reset Personal Details Flag</label>
        <locationX>1282</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Personal_Details_Changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Send_Submission_Email_to_PFO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicantNames__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ApplicantNames__c</field>
            <value>
                <elementReference>ApplicantNamesProcessed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Application</name>
        <label>Update Final Application</label>
        <locationX>1282</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Reset_Personal_Details_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Final_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Personal_Details_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Applicants</targetReference>
        </connector>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailMsgCancellationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application cancelled&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application has been cancelled. Please find the application details below.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Cancellation Reason&lt;/b&gt;:   {!$Record.Cancellation_Reason_picklist__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;:  {!$Record.Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about the application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgCancellationBodyTXT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;b style=&quot;font-size: 25px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: rgb(29, 68, 128);&quot;&gt;Application Cancelled&lt;/b&gt;&lt;p&gt;Dear {!$Record.Account.FirstName}&lt;/p&gt;&lt;p&gt;The application you submitted has been cancelled.&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: rgb(29, 68, 128);&quot;&gt;Application Details&lt;/b&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 600px;border: none;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;table&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: rgb(29, 68, 128);&quot;&gt;What&apos;s next&lt;/b&gt;&lt;/p&gt;&lt;p&gt;you have a question or need more information about this application contact us on (03) 7020 1549.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgCancellationPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application cancelled&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The application you submitted has been cancelled.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Cancellation Reason&lt;/b&gt;:  {!$Record.Cancellation_Reason_picklist__c}&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;:   {!$Record.Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;If you have a question or need more information about this application, contact Support Services on (03) 7020 1549.&lt;/span&gt;&lt;br /&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/individualapplication/{{{IndividualApplication.Id}}}&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgCancellationSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Application Cancelled:Victorian Homebuyer Fund application - {!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgExpiryApplicants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application expired&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Applicant&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Your provisional approval has expired. Please find below the details of the application.&lt;/span&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expiry date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about your application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgExpiryPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application expired&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The provisional application you submitted has expired. Please find below the details of the application.&lt;/span&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expiry date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/individualapplication/{!$Record.Id}&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 32.3px 0px;&quot;&gt;View Application&lt;/span&gt;&lt;/a&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about the application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgExtension2Applicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application extended&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Applicant&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; We previously confirmed you had been provisionally approved to participate in the Victorian Homebuyer &lt;br&gt;Fund in a letter dated {!$Record.Provisional_Approval_Date__c}.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Thank you for notifying us that you have not been able to enter into a contract of sale for an Eligible &lt;br&gt;Home.&lt;br&gt;&lt;br&gt;&lt;br&gt;After considering your request to extend your provisional approval, the State of Victoria through the &lt;br&gt;Department of Treasury and Finance (Program Provider) has decided to extend your &lt;br&gt;provisional approval to {!$Record.Expiry_Date1__c}.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;br&gt;Please note the Program Provider will not extend your provisional approval beyond {!$Record.Expiry_Date1__c} &lt;/span&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expiry date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Please provide a signed contract of sale to your bank/lender after purchasing&lt;br&gt; a property.&lt;br&gt;&lt;br&gt;Your provisional approval will expire unless you have entered into a contract &lt;br&gt;of sale to purchase an eligible home by {!$Record.Expiry_Date1__c}.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgExtensionApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application extended&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Applicant&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;We previously confirmed you had been provisionally approved to participate in the Victorian Homebuyer &lt;br&gt;Fund in a letter dated {!$Record.Provisional_Approval_Date__c}.&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Thank you for notifying us that you have not been able to enter into a contract of sale for an Eligible &lt;br&gt;Home.&lt;br&gt;
After considering your request to extend your provisional approval, the State of Victoria through the &lt;br&gt;Department of Treasury and Finance (Program Provider) has decided to extend your &lt;br&gt;provisional approval to {!$Record.Expiry_Date1__c}.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expiry date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt;&lt;br /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #1d4480;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Please provide a signed contract of sale to your bank/lender after purchasing&lt;br/&gt; a property.&lt;br&gt;
Your provisional approval will expire unless you have entered into a contract&lt;br&gt;of sale to purchase an eligible home by {!$Record.Expiry_Date1__c}.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgExtensionPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application extended&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; The provisional application for which you requested an extension has been completed. &lt;br&gt;Please find below the details of the application.&lt;/span&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expiry date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/individualapplication/{!$Record.Id}&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 10px 194px 0px 0px;&quot;&gt;View Application&lt;/span&gt;&lt;/a&gt;&lt;br&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgProvisionalApproval</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application provisionally approved&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The application you submitted is provisionally approved.&lt;/span&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Provisionally approved on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Provisional_Approval_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expires on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;hr style=&quot;width: 250px; margin: 0px 0px 0px 0px; padding: 19.3px 357px 1.3px 0.3px; border: 0px; border-top: solid 1.5px #1d4480;&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Please complete the buying guide checklist and submit it with a signed&lt;br&gt;&lt;br&gt;contract of sale to your bank/lender after purchasing a property.&lt;/span&gt;&lt;br&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/individualapplication/{!$Record.Id}&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 0px 0px;&quot;&gt;View Application&lt;/span&gt;&lt;/a&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgRejectionApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application rejected&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application has been rejected. Please find the application details below.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Rejection Reason&lt;/b&gt;: {!$Record.Rejection_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;: {!$Record.Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 19.3px 357px 1.3px 0.3px; border: 0px; border-top: solid 1.5px #1d4480;&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about the application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgRejectionPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application rejected&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The application you submitted has been rejected.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Rejection Reason&lt;/b&gt;:  {!$Record.Rejection_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;:  {!$Record.Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about this application, contact us on (03) 7020 1549.&lt;/span&gt;&lt;br&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/individualapplication/{{{IndividualApplication.Id}}}&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 10px 0px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;
&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSubmission</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application submitted&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;We&apos;ve received your application. Please find the application details below.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;You will be notified once the provisional approval decision has been made, within 5 working days.&lt;/span&gt;&lt;br /&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/individualapplication/{{{IndividualApplication.Id}}}&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 25.5px 194px 0px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSubmissionApplicants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application submitted&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt; Dear {!ApplicantFirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;We&apos;ve received your application. Please find the application details below.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px ; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted by&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Lender_Account__r.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;You will be notified once the provisional approval decision has been made, within 5 working days.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px ; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSubmissionTxt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;width:650px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application submitted&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;We&apos;ve received your application. Please find the application details below.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;You will be notified once the provisional approval decision has been made, within 5 working days.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgUpdated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application updated&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application submitted through {!$Record.Lender_Account__r.Name} on {!SubmissionDate} to participate in the Victorian Homebuyer Fund has been updated.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about the application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>ApplicantFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApplicantsEmailStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApplicantsStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
