force-app/main/default/flows/Assign_Vlocity_Insurance_Package_Licence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Assigns a Vlocity Insurance Managed Package licence to input User Record</description>
    <interviewLabel>Assign Vlocity Insurance Package Licence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Vlocity Insurance Package Licence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Package_license_to_new_user</name>
        <label>Assign Package license to new user</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>PackageLicenseId</field>
            <value>
                <elementReference>VarT_PackageLicenseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>VarT_UserId</elementReference>
            </value>
        </inputAssignments>
        <object>UserPackageLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Vlocity_Installed_Package_License_Id</name>
        <label>Vlocity Installed Package License Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Package_license_to_new_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>vlocity_ins</stringValue>
            </value>
        </filters>
        <object>PackageLicense</object>
        <outputAssignments>
            <assignToReference>VarT_PackageLicenseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>NamespacePrefix</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vlocity_Installed_Package_License_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarT_PackageLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
