force-app/main/default/flows/Case_Post_Settlement_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Set End Payment Date on property record to refinance loan maturity date + 60 days</description>
        <name>Update_Property_EndPaymentDate1</name>
        <label>Update Property</label>
        <locationX>7662</locationX>
        <locationY>1271</locationY>
        <actionName>PopulateEndPaymentDateOnProperty</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCurrentLoanMaturityChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isLoanMaturityExtendedDueToHardship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refinancedLoanMaturityDate</name>
            <value>
                <elementReference>$Record.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Set End Payment Date on property record to refinance loan maturity date + 60 days</description>
        <name>Update_Property_EndPaymentDate1_0</name>
        <label>Update Property</label>
        <locationX>3878</locationX>
        <locationY>5063</locationY>
        <actionName>PopulateEndPaymentDateOnProperty</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCurrentLoanMaturityChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isLoanMaturityExtendedDueToHardship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refinancedLoanMaturityDate</name>
            <value>
                <elementReference>$Record.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Set the End Payment Date field on the property record to lesser of Actual settlement date + 30 yrs or refinance loan maturity date + 60 days.</description>
        <name>Update_Property_EndPaymentDate3</name>
        <label>Update Property</label>
        <locationX>8190</locationX>
        <locationY>1271</locationY>
        <actionName>PopulateEndPaymentDateOnProperty</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actualSettlementDate</name>
            <value>
                <elementReference>$Record.Property__r.Actual_Settlement_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isCurrentLoanMaturityChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isLoanMaturityExtendedDueToHardship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refinancedLoanMaturityDate</name>
            <value>
                <elementReference>$Record.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Set the End Payment Date field on the property record to lesser of Actual settlement date + 30 yrs or refinance loan maturity date + 60 days.</description>
        <name>Update_Property_EndPaymentDate3_0</name>
        <label>Update Property</label>
        <locationX>4406</locationX>
        <locationY>5063</locationY>
        <actionName>PopulateEndPaymentDateOnProperty</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActualSettlementDate</name>
            <value>
                <elementReference>$Record.Actual_Settlement_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isCurrentLoanMaturityChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isLoanMaturityExtendedDueToHardship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refinancedLoanMaturityDate</name>
            <value>
                <elementReference>$Record.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>5066</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>FinalAppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Final_Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Final_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_Participants</name>
        <label>Add To Collection</label>
        <locationX>4494</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>ParticipantsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCaseCollection</name>
        <label>AddToCaseCollection</label>
        <locationX>5308</locationX>
        <locationY>4607</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Details</name>
        <label>Set Case Details</label>
        <locationX>5308</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_PFO_Refinance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.BypassValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BypassTempVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCaseCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If it&apos;s not an Application Case or Refinance Case, then the only other case raised by Panel Financiers are Renovation requests which are auto approved and owner stays with the Panel Financier.  We need to reassign the owner to the new PFO</description>
        <name>Set_Case_Owner</name>
        <label>Set Case Owner</label>
        <locationX>5506</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPFOUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCaseBypassFlagSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Application_Details</name>
        <label>Set Final Application Details</label>
        <locationX>5066</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Loop_Final_Applications.Panel_Finance_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_PFO_Refinance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Final_Applications.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPFOUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Final_Applications.BypassValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BypassTempVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_PFO_UserId</name>
        <label>Set New PFO UserId</label>
        <locationX>4406</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NewPFOUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_PFO_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_1</name>
        <label>Set Participant 1</label>
        <locationX>7486</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ParticipantName1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_1.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_2</name>
        <label>Set Participant 2</label>
        <locationX>7750</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ParticipantName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_1.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_3</name>
        <label>Set Participant 3</label>
        <locationX>8014</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ParticipantName3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_1.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Participant_4</name>
        <label>Set Participant 4</label>
        <locationX>8278</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ParticipantName4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants_1.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set owner field and Panel Finance Officer of the Participant</description>
        <name>Set_PFO_details</name>
        <label>Set PFO details</label>
        <locationX>4494</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Loop_Participants.Panel_Finance_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_PFO_Refinance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBypassTemptoFalse</name>
        <label>SetBypassTemptoFalse</label>
        <locationX>4714</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>BypassTempVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Provisional_App_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBypassTemptoTrue</name>
        <label>SetBypassTemptoTrue</label>
        <locationX>4978</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>BypassTempVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Provisional_App_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBypassTempVarF</name>
        <label>SetBypassTempVarFalse</label>
        <locationX>4934</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>BypassTempVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Final_Application_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBypassTempVarFalse_case</name>
        <label>SetBypassTempVarFalse</label>
        <locationX>5176</locationX>
        <locationY>4271</locationY>
        <assignmentItems>
            <assignToReference>BypassTempVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBypassTempVarT</name>
        <label>SetBypassTempVarTrue</label>
        <locationX>5198</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>BypassTempVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Final_Application_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBypassTempVarTrue</name>
        <label>SetBypassTempVarTrue</label>
        <locationX>5440</locationX>
        <locationY>4271</locationY>
        <assignmentItems>
            <assignToReference>BypassTempVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Details</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ITE_CancellationComments</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan increase amount was less than $10,000. Thank you for reporting, no further action required.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>5308</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>IsCaseBypassFlagSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - Refinance</defaultConnectorLabel>
        <rules>
            <name>Application_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VHF Applications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Application</targetReference>
            </connector>
            <label>Application Case</label>
        </rules>
        <rules>
            <name>Renovation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renovations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Owner</targetReference>
            </connector>
            <label>Renovation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>4978</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valuation_Requested</name>
            <conditionLogic>1 AND (2 OR 3 OR 7 OR 8) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valuation Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Valuation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Settlement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Increase Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Valuation_Record</targetReference>
            </connector>
            <label>Valuation Requested</label>
        </rules>
        <rules>
            <name>LTA_Approved_or_Rejected</name>
            <conditionLogic>1 AND 2 AND 5 AND (3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long_Term_Absence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Absence_Record</targetReference>
            </connector>
            <label>LTA Approved or Rejected</label>
        </rules>
        <rules>
            <name>Property_ID_changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Property__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refinanced - Same PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Property_ID</targetReference>
            </connector>
            <label>Property ID changed</label>
        </rules>
        <rules>
            <name>Approved_Awaiting_Contract_of_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Awaiting Contract of Sale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property_Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_of_sale_status_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PS-Approved  - Awaiting Contract of Sale</label>
        </rules>
        <rules>
            <name>ITE_Loan_increase_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Income_Threshold_Exceeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_And_Refinance_Approved_Changes</targetReference>
            </connector>
            <label>ITE Loan increase requested</label>
        </rules>
        <rules>
            <name>Refinance_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refinance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criteria_refinance</targetReference>
            </connector>
            <label>Refinance Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Participant</name>
        <label>Check Participant</label>
        <locationX>8014</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Loop_Participants_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Participant_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantName1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Participant_1</targetReference>
            </connector>
            <label>Participant 1</label>
        </rules>
        <rules>
            <name>Participant_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantName1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParticipantName2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Participant_2</targetReference>
            </connector>
            <label>Participant 2</label>
        </rules>
        <rules>
            <name>Participant_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantName1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParticipantName2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParticipantName3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Participant_3</targetReference>
            </connector>
            <label>Participant 3</label>
        </rules>
        <rules>
            <name>Participant_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantName1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParticipantName2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParticipantName3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParticipantName4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Participant_4</targetReference>
            </connector>
            <label>Participant 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Criteria_refinance</name>
        <label>Criteria</label>
        <locationX>6958</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Mortgage_Re_registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage Re-registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Confirmation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status=Mortgage Re-registered</label>
        </rules>
        <rules>
            <name>Status_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VGSO_Visible_Flag</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status=Confirmed</label>
        </rules>
        <rules>
            <name>Status_Refinance_New_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refinanced - New PF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Panel_Financier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Panel_Financier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Participant</targetReference>
            </connector>
            <label>Status=Refinance-New PF</label>
        </rules>
        <rules>
            <name>Status_Refinance_Same_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refinanced - Same PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Text_Property_ID</targetReference>
            </connector>
            <label>Status=Refinance Same PF</label>
        </rules>
        <rules>
            <name>Status_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Refinance_Confirmation_to_Cancelled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status=Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBypassFlagTrue</name>
        <label>IsBypassFlagTrue?</label>
        <locationX>5066</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>SetBypassTempVarT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Final_Applications.BypassValidation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBypassTempVarF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBypassFlagTrue_P</name>
        <label>IsBypassFlagTrue?</label>
        <locationX>4846</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>SetBypassTemptoTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provisional_Application.BypassValidation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBypassTemptoFalse</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseBypassFlagSet</name>
        <label>IsCaseBypassFlagSet?</label>
        <locationX>5308</locationX>
        <locationY>4151</locationY>
        <defaultConnector>
            <targetReference>SetBypassTempVarTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.BypassValidation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBypassTempVarFalse_case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew_all</name>
        <label>isNew?</label>
        <locationX>4978</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Maturity_Extension_Check</name>
        <label>Loan Maturity Extension Check</label>
        <locationX>8190</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Extended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_maturity_extended_due_to_hardship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Property_EndPaymentDate1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Extended</label>
        </rules>
        <rules>
            <name>Not_Extended</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_maturity_extended_due_to_hardship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_maturity_extended_due_to_hardship__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Property_EndPaymentDate3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Extended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Maturity_Extension_Check_0</name>
        <label>Loan Maturity Extension Check</label>
        <locationX>4406</locationX>
        <locationY>4943</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Extended_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_maturity_extended_due_to_hardship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Property_EndPaymentDate1_0</targetReference>
            </connector>
            <label>Extended</label>
        </rules>
        <rules>
            <name>Not_Extended_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_maturity_extended_due_to_hardship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_maturity_extended_due_to_hardship__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Property_EndPaymentDate3_0</targetReference>
            </connector>
            <label>Not Extended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_And_Refinance_Approved_Changes</name>
        <label>Status And Refinance Approved Changes</label>
        <locationX>1898</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requires_Cancellation</name>
            <conditionLogic>(1 AND 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Increase_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Increase_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Minimum_Loan_Increase_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Increase_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_ITE_Case</targetReference>
            </connector>
            <label>Requires Cancellation</label>
        </rules>
        <rules>
            <name>Loan_Increase_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Increase Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_increased_requested_date_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Loan Increase Requested</label>
        </rules>
        <rules>
            <name>Has_the_Loan_been_Refinanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refinance_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Has the Loan been Refinanced</label>
        </rules>
        <rules>
            <name>No_Loan_has_been_refinanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refinance_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Staus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Loan has been refinanced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valuation_count_5</name>
        <label>Valuation count&lt;=5?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_Valuation_on_Property_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Property__r.Property_Valuation_Count__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Valuation_on_Property_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>VHF-6571:10/5/22
VHF-6553(9/5/22)
VHF-6443
VHF-3045
VHF-4471
VHF-3972/VHF-3973: 8/3/22
VHF-4876:24/2/22
VHF-4509:2/2/22
VHF-3480:20/12/2021
VHF-3720:15/12/2021
VHF-3718:14/12/2021
VHF:4458:23/03/2022
Replaced Current Panel Financier field
VHF:3211 - 11 April 2022
VHF-5735 - 13th April 2022
VHF-6515-04/05/2022
VHF-6515/6517-06/05/2022</description>
    <formulas>
        <name>BypassToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Record.BypassValidation__c})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SubmittedDate</name>
        <dataType>Date</dataType>
        <expression>IF( ISBLANK({!$Record.Annual_Review__c}) ,  DATEVALUE({!$Record.CreatedDate})  ,  DATEVALUE({!$Record.Annual_Review__r.CreatedDate}) )</expression>
    </formulas>
    <formulas>
        <name>ValuationFeeChargaeable</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.Valuation_Fee__c},0) + BLANKVALUE({!$Record.Property__r.Valuation_Fees_Chargeable__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValuationFeeNonChargeable</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.Valuation_Fee__c},0) + BLANKVALUE({!$Record.Property__r.Valuation_Fees_Non_chargeable__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case Post Settlement Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Post Settlement Logic</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>4406</locationX>
        <locationY>2207</locationY>
        <collectionReference>Get_PF_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Expect only 1 Final Application to be linked to a property, but looping just in case</description>
        <name>Loop_Final_Applications</name>
        <label>Loop Final Applications</label>
        <locationX>4846</locationX>
        <locationY>2567</locationY>
        <collectionReference>Get_Final_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsBypassFlagTrue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Final_Applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants</name>
        <label>Loop Participants</label>
        <locationX>4406</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_Property_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_PFO_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants_1</name>
        <label>Loop Participants</label>
        <locationX>7398</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_Property_Participants_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Participant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Confirmation_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Absence_Record</name>
        <label>Create Absence Record</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>End_date__c</field>
            <value>
                <elementReference>$Record.Absence_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>$Record.Absence_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date__c</field>
            <value>
                <elementReference>$Record.Absence_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Absence_Duration_Months__c</field>
            <value>
                <elementReference>$Record.Valid_Absence_Duration_Months__c</elementReference>
            </value>
        </inputAssignments>
        <object>Absence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Confirmation_Record</name>
        <label>Create Confirmation Record</label>
        <locationX>7398</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>Actual_Settlement_Date__c</field>
            <value>
                <elementReference>$Record.Property__r.Actual_Settlement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Maturity_Date__c</field>
            <value>
                <elementReference>$Record.Property__r.Loan_Maturity_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_PF__c</field>
            <value>
                <elementReference>$Record.Current_Panel_Financier__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Name_1__c</field>
            <value>
                <elementReference>ParticipantName1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Name_2__c</field>
            <value>
                <elementReference>ParticipantName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Name_3__c</field>
            <value>
                <elementReference>ParticipantName3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Name_4__c</field>
            <value>
                <elementReference>ParticipantName4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Participant__c</field>
            <value>
                <elementReference>Get_Primary_Participant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refinance_Case_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refinancing_with_same_PF__c</field>
            <value>
                <elementReference>$Record.Refinancing_with_same_PF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Confirmation</stringValue>
            </value>
        </inputAssignments>
        <object>Confirmation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Valuation_Record</name>
        <label>Create Valuation Record</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Valuation_count_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Value__c</field>
            <value>
                <elementReference>$Record.Property_Market_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renovation_Decrease_in_Property_Value__c</field>
            <value>
                <elementReference>$Record.Renovation_Decrease_in_Property_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renovation_Increase_in_Property_Value__c</field>
            <value>
                <elementReference>$Record.Renovation_Increase_in_Property_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Date__c</field>
            <value>
                <elementReference>$Record.Property_Valuation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Fee__c</field>
            <value>
                <elementReference>$Record.Valuation_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Reference_Number__c</field>
            <value>
                <elementReference>$Record.Valuation_Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Property_Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>5726</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Mortgage Re-registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update new panel financier for property as part of refinance case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0</name>
        <label>Log Exception</label>
        <locationX>5462</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Participants</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Mortgage Re-registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update new Panel Financier Officer for participants linked to the property as part of refinance case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0</name>
        <label>Log Exception</label>
        <locationX>5198</locationX>
        <locationY>4943</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Mortgage Re-registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update new Panel Financier Officer for cases linked to the property as part of refinance case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0</name>
        <label>Log Exception</label>
        <locationX>5242</locationX>
        <locationY>3479</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Final Applications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Mortgage Re-registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update new Panel Financier Officer for final applications linked to the property as part of refinance case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>8982</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Same PF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update Loan Maturity Date on Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>4142</locationX>
        <locationY>5183</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Mortgage Re-registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update new Panel Financier Officer for cases linked to the property as part of refinance case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>4670</locationX>
        <locationY>5183</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Mortgage Re-registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update new Panel Financier Officer for cases linked to the property as part of refinance case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>7926</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Same PF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update Loan Maturity Date on Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0_0_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>8454</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Case Post Settlement Logic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Refinance Same PF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update Loan Maturity Date on Property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Confirmation</name>
        <label>Get Confirmation</label>
        <locationX>4406</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_PFO_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refinance_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Confirmation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Application</name>
        <label>Get Final Application</label>
        <locationX>4846</locationX>
        <locationY>2447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Final_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationCaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_PFO_user</name>
        <label>Get New PFO user</label>
        <locationX>4406</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_PFO_UserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_PFO_Refinance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get cases that are submitted and owned by Panel Financiers related to the property</description>
        <name>Get_PF_Cases</name>
        <label>Get PF Cases</label>
        <locationX>4406</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renovations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VHF Applications</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refinance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Participant</name>
        <label>Get Primary Participant</label>
        <locationX>7398</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Property_Participants_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActiveApplicant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Participant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Participant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Participants</name>
        <label>Get Property Participants</label>
        <locationX>4406</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Participants_1</name>
        <label>Get Property Participants</label>
        <locationX>7398</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Participants_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Participant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActiveApplicant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provisional_Application</name>
        <label>Get Provisional Application</label>
        <locationX>4846</locationX>
        <locationY>3479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsBypassFlagTrue_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationCaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Auto cancel ITE case</description>
        <name>Cancel_ITE_Case</name>
        <label>Cancel ITE Case</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <elementReference>BypassToggle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason_Comments__c</field>
            <value>
                <elementReference>ITE_CancellationComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <stringValue>Not eligible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_VGSO_Visible_Flag</name>
        <label>Set VGSO Visible Flag</label>
        <locationX>5990</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_Latest_Confirmation_VGSO_Visible_flag</targetReference>
        </connector>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <elementReference>BypassToggle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VGSO_Visible__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>4406</locationX>
        <locationY>4823</locationY>
        <connector>
            <targetReference>Loan_Maturity_Extension_Check_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0</targetReference>
        </faultConnector>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_of_sale_status_0</name>
        <label>Update Contract of sale status</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_of_Sale_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_of_Sale_status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Applications</name>
        <label>Update Final Applications</label>
        <locationX>4846</locationX>
        <locationY>3359</locationY>
        <connector>
            <targetReference>Get_Provisional_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0</targetReference>
        </faultConnector>
        <inputReference>FinalAppsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Latest_Confirmation_VGSO_Visible_flag</name>
        <label>Update Latest Confirmation VGSO Visible flag</label>
        <locationX>5990</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refinance_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VGSO_Visible__c</field>
            <value>
                <elementReference>$Record.VGSO_Visible__c</elementReference>
            </value>
        </inputAssignments>
        <object>Confirmation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_increased_requested_date_0</name>
        <label>Update Loan increased requested date</label>
        <locationX>1634</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_increased_requested_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Participants</name>
        <label>Update Participants</label>
        <locationX>4406</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Get_PF_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0</targetReference>
        </faultConnector>
        <inputReference>ParticipantsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property</name>
        <label>Update Property</label>
        <locationX>4406</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Property_Participants</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Maturity_Date__c</field>
            <value>
                <elementReference>Get_Confirmation.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewPFOUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Financier_Name__c</field>
            <value>
                <elementReference>$Record.New_Panel_Financier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_0</name>
        <label>Update Property</label>
        <locationX>8190</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Loan_Maturity_Extension_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Maturity_Date__c</field>
            <value>
                <elementReference>$Record.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_ID</name>
        <label>Update Property ID</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Property__r.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Provisional_App_3</name>
        <label>Update Provisional App</label>
        <locationX>4846</locationX>
        <locationY>3935</locationY>
        <connector>
            <targetReference>IsCaseBypassFlagSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationCaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <elementReference>BypassTempVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lender_Account__c</field>
            <value>
                <elementReference>$Record.New_Panel_Financier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewPFOUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Finance_Officer__c</field>
            <value>
                <elementReference>$Record.New_PFO_Refinance__c</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refinance_Confirmation_to_Cancelled</name>
        <label>Update Refinance Confirmation to Cancelled</label>
        <locationX>9246</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refinance_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Confirmation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1898</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Loan Increase Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Staus</name>
        <label>Update Staus</label>
        <locationX>2162</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Loan Increase Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_Date</name>
        <label>Update Submitted Date</label>
        <locationX>4846</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submitted_by__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Submitted_Date__c</field>
            <value>
                <elementReference>SubmittedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Text_Property_ID</name>
        <label>Update Text Property ID</label>
        <locationX>8190</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_Property_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Property__r.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Valuation_on_Property_0</name>
        <label>Update Valuation on Property</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_Value__c</field>
            <value>
                <elementReference>$Record.Property_Market_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renovation_Decrease_in_Property_Value__c</field>
            <value>
                <elementReference>$Record.Renovation_Decrease_in_Property_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renovation_Increase_in_Property_Value__c</field>
            <value>
                <elementReference>$Record.Renovation_Increase_in_Property_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Date__c</field>
            <value>
                <elementReference>$Record.Property_Valuation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Fees_Non_chargeable__c</field>
            <value>
                <elementReference>ValuationFeeNonChargeable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Reference_Number__c</field>
            <value>
                <elementReference>$Record.Valuation_Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Valuation_on_Property_0_0</name>
        <label>Update Valuation on Property</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_Value__c</field>
            <value>
                <elementReference>$Record.Property_Market_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renovation_Decrease_in_Property_Value__c</field>
            <value>
                <elementReference>$Record.Renovation_Decrease_in_Property_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renovation_Increase_in_Property_Value__c</field>
            <value>
                <elementReference>$Record.Renovation_Increase_in_Property_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Date__c</field>
            <value>
                <elementReference>$Record.Property_Valuation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Fees_Chargeable__c</field>
            <value>
                <elementReference>ValuationFeeChargaeable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valuation_Reference_Number__c</field>
            <value>
                <elementReference>$Record.Valuation_Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>4852</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isNew_all</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Windfall Gains</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voluntary Payments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income Threshold Exceeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Long Term Absence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refinance</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BypassTempVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FinalAppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Id of the user record of the new PFO</description>
        <name>NewPFOUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantName2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantName3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantName4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
