force-app/main/default/flows/Case_Records_to_Create_Update_Shadow_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Applicant_Record_1</name>
        <label>Assign Applicant Record 1</label>
        <locationX>197</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>ApplicantRecord1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicant_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Record_2</name>
        <label>Assign Applicant Record 2</label>
        <locationX>84</locationX>
        <locationY>1170</locationY>
        <assignmentItems>
            <assignToReference>ApplicantRecord2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicant_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Record_3</name>
        <label>Assign Applicant Record 3</label>
        <locationX>51</locationX>
        <locationY>1635</locationY>
        <assignmentItems>
            <assignToReference>ApplicantRecord3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicant_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Record_4</name>
        <label>Assign Applicant Record 4</label>
        <locationX>1757</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>Applicant4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicant_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_First_Applicant_Details</name>
        <label>Get First Applicant Details</label>
        <locationX>685</locationX>
        <locationY>1297</locationY>
        <assignmentItems>
            <assignToReference>ApplicantAddressCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Shadow_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_First_Applicant_Details_0</name>
        <label>Get First Applicant Details</label>
        <locationX>1073</locationX>
        <locationY>1671</locationY>
        <assignmentItems>
            <assignToReference>ApplicantAddressCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantAddressState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant_1.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shadow_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loop_variable</name>
        <label>loop variable</label>
        <locationX>1969</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>loopVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApplicantLoopNumberCheck</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApplicantLoopNumberCheck</name>
        <label>Applicant Loop Number Check</label>
        <locationX>1101</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_loop_variable_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_1</targetReference>
            </connector>
            <label>Is loop variable 1</label>
        </rules>
        <rules>
            <name>Is_Loop_Variable_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_2</targetReference>
            </connector>
            <label>Is Loop Variable 2</label>
        </rules>
        <rules>
            <name>Is_Loop_Variable_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_3</targetReference>
            </connector>
            <label>Is Loop Variable 3</label>
        </rules>
        <rules>
            <name>Is_Loop_Variable_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_4</targetReference>
            </connector>
            <label>Is Loop Variable 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Shadow_record_already_exists</name>
        <label>Check_if_Shadow_record_already_exists</label>
        <locationX>1073</locationX>
        <locationY>1433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shadow_Records_Do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shadow_Existing_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Applicant_Details</targetReference>
            </connector>
            <label>Shadow Records Do not exist</label>
        </rules>
        <rules>
            <name>Shadow_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shadow_Existing_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Applicant_Details_0</targetReference>
            </connector>
            <label>Shadow Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_ID</name>
        <label>Check Record Type ID</label>
        <locationX>1154</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VHF_Applications_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fetch_Record_Type_Name.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Individual_Application_Records</targetReference>
            </connector>
            <label>VHF Applications only</label>
        </rules>
    </decisions>
    <description>VHF3279(18/11/21)
Added population of Applicant 1 Phone number on Shadow Application.</description>
    <interviewLabel>Case Records to Create Update Shadow Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Records to Create Update Shadow Records</label>
    <loops>
        <name>Loop_all_Applicant_Records</name>
        <label>Loop all Applicant Records</label>
        <locationX>1515</locationX>
        <locationY>760</locationY>
        <collectionReference>Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shadow_Existing_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Shadow_Records</name>
        <label>Create Shadow Records</label>
        <locationX>689</locationX>
        <locationY>1826</locationY>
        <connector>
            <targetReference>Update_Master_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Applicants__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Aboriginal_Applicants__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicantEmail1__c</field>
            <value>
                <elementReference>Get_Applicant_1.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicantEmail2__c</field>
            <value>
                <elementReference>Get_Applicant_2.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicantEmail3__c</field>
            <value>
                <elementReference>Get_Applicant_3.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicantEmail4__c</field>
            <value>
                <elementReference>Get_Applicant_4.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_1_Phone_Number__c</field>
            <value>
                <elementReference>ApplicantPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_First_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Last_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <stringValue>{!Get_Individual_Application_Records.Account.FirstName} {!Get_Individual_Application_Records.Account.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedDate__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.ApprovedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_City__c</field>
            <value>
                <elementReference>ApplicantAddressCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Country__c</field>
            <value>
                <elementReference>ApplicantAddressCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Postal_Code__c</field>
            <value>
                <elementReference>ApplicantAddressPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_State__c</field>
            <value>
                <elementReference>ApplicantAddressState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Street__c</field>
            <value>
                <elementReference>ApplicantAddressStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Expiry_Date1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_1__c</field>
            <value>
                <elementReference>Get_Applicant_1.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_2__c</field>
            <value>
                <elementReference>Get_Applicant_2.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_3__c</field>
            <value>
                <elementReference>Get_Applicant_3.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_4__c</field>
            <value>
                <elementReference>Get_Applicant_4.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_1__c</field>
            <value>
                <elementReference>Get_Applicant_1.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_2__c</field>
            <value>
                <elementReference>Get_Applicant_2.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_3__c</field>
            <value>
                <elementReference>Get_Applicant_3.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_4__c</field>
            <value>
                <elementReference>Get_Applicant_4.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_Application_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_Application__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Purchase_Price__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Maximum_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Aboriginal_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Aboriginal_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Melb_Geelong_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Melb_Geelong_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_1__c</field>
            <value>
                <elementReference>Get_Applicant_1.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_2__c</field>
            <value>
                <elementReference>Get_Applicant_2.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_3__c</field>
            <value>
                <elementReference>Get_Applicant_3.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_4__c</field>
            <value>
                <elementReference>Get_Applicant_4.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Financier_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Lender_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Application_Status__c</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Settlement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Equity_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VHF_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Individual_Application_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Applicant_Records</name>
        <label>Fetch_Applicant_Records</label>
        <locationX>1516</locationX>
        <locationY>591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicant_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Application_Records.Id</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>Applicants</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IndividualApplication__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Record_Type_Name</name>
        <label>Fetch Record Type Name</label>
        <locationX>1186</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VHF_Application_Record_Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_1</name>
        <label>Get Applicant 1</label>
        <locationX>197</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Record_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicant_Records.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_2</name>
        <label>Get Applicant 2</label>
        <locationX>87</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicant_Records.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_3</name>
        <label>Get Applicant 3</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Record_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicant_Records.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_4</name>
        <label>Get Applicant 4</label>
        <locationX>1994</locationX>
        <locationY>1233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Record_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicant_Records.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Application_Records</name>
        <label>Get_Individual_Application_Records</label>
        <locationX>1516</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Applicant_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationCaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shadow_Existing_Records</name>
        <label>Get_Shadow_Existing_Records</label>
        <locationX>1295</locationX>
        <locationY>1431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Shadow_record_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Application_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual_Application_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update_Case</label>
        <locationX>1024</locationX>
        <locationY>2052</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Individual_Application_Shadow__c</field>
            <value>
                <elementReference>Create_Shadow_Records</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Master_Record</name>
        <label>Update_Master_Record</label>
        <locationX>844</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Application_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Individual_Application_Shadow__c</field>
            <value>
                <elementReference>Create_Shadow_Records</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shadow_Records</name>
        <label>Update Shadow Records</label>
        <locationX>1074</locationX>
        <locationY>1849</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Application_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aboriginal_Applicants__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Aboriginal_Applicants__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_1_Phone_Number__c</field>
            <value>
                <elementReference>ApplicantPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_First_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Last_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <stringValue>{!Get_Individual_Application_Records.Account.FirstName}  {!Get_Individual_Application_Records.Account.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedDate__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.ApprovedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_City__c</field>
            <value>
                <elementReference>ApplicantAddressCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Country__c</field>
            <value>
                <elementReference>ApplicantAddressCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Postal_Code__c</field>
            <value>
                <elementReference>ApplicantAddressPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_State__c</field>
            <value>
                <elementReference>ApplicantAddressState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Street__c</field>
            <value>
                <elementReference>ApplicantAddressStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Expiry_Date1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_1__c</field>
            <value>
                <elementReference>Get_Applicant_1.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_2__c</field>
            <value>
                <elementReference>Get_Applicant_2.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_3__c</field>
            <value>
                <elementReference>Get_Applicant_3.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Name_Applicant_4__c</field>
            <value>
                <elementReference>Get_Applicant_4.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_1__c</field>
            <value>
                <elementReference>Get_Applicant_1.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_2__c</field>
            <value>
                <elementReference>Get_Applicant_2.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_3__c</field>
            <value>
                <elementReference>Get_Applicant_3.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_Name_Applicant_4__c</field>
            <value>
                <elementReference>Get_Applicant_4.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_Application_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Purchase_Price__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Maximum_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Aboriginal_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Aboriginal_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Melb_Geelong_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Melb_Geelong_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_1__c</field>
            <value>
                <elementReference>Get_Applicant_1.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_2__c</field>
            <value>
                <elementReference>Get_Applicant_2.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_3__c</field>
            <value>
                <elementReference>Get_Applicant_3.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_Applicant_4__c</field>
            <value>
                <elementReference>Get_Applicant_4.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Financier_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Lender_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Application_Status__c</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Settlement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Equity_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VHF_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Individual_Application_Shadow__c</object>
    </recordUpdates>
    <start>
        <locationX>1391</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fetch_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Final Application</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Applicant_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>Applicant1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>Applicant4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApplicantAddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApplicantRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApplicantRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Applicants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>loopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
