force-app/main/default/flows/Case_Program_Exit_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Discharge_Confirmation_Finance</name>
        <label>Send Discharge Confirmation-Finance</label>
        <locationX>50</locationX>
        <locationY>2207</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Activity_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgDischargedFinance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>FinanceEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Property ID {!$Record.Property__r.OrderNumber} Program exit : Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Discharge_Confirmation_PFO</name>
        <label>Send Discharge Confirmation-PFO</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Activity_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgDischargedPFO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Property__r.Contract.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Property ID {!$Record.Property__r.OrderNumber} Program exit : Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Discharge_Confirmation_SRO</name>
        <label>Send Discharge Confirmation-SRO</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgDischargedSRO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Homebuyer_Email.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Property ID {!$Record.Property__r.OrderNumber} Program exit : Victorian Homebuyer Fund</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Concatenate_Email_Name</name>
        <label>Concatenate Email &amp; Name</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ParticipantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Participants_0.PersonEmail},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Participants_0.FirstName} {!Loop_Participants_0.LastName}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Finance_Emails</name>
        <label>Concatenate Finance Emails</label>
        <locationX>138</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>FinanceEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Finance_Emails.Email__c},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Finance_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mortgage_Discharged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage Discharged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Homebuyer_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mortgage Discharged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_0</name>
        <label>Event</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_updated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Participants</targetReference>
            </connector>
            <label>Status updated</label>
        </rules>
    </decisions>
    <description>VHF-4925:23/2/2022
VHF-4811/3025-21/2/22
VHF-4699: 15/2/22
VHF-2191:14/2/22
VHF-3087:11/2/22
VHF-3027:10/2/22
VHF-3026:9/2/22
VHF-3025:8/2/22
VHF-3012:7/2/22
VHF-5465:27/04/22</description>
    <formulas>
        <name>DischargeDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Record.Mortgage_Discharge_Date__c}))+ &quot; &quot; +
CASE(MONTH( {!$Record.Mortgage_Discharge_Date__c} ),
1, &quot;January&quot;, 
2, &quot;February&quot;, 
3, &quot;March&quot;, 
4, &quot;April&quot;, 
5, &quot;May&quot;, 
6, &quot;June&quot;, 
7, &quot;July&quot;, 
8, &quot;August&quot;, 
9, &quot;September&quot;, 
10, &quot;October&quot;, 
11, &quot;November&quot;, 
12, &quot;December&quot;, 
&quot;None&quot;)
+ &quot; &quot; +TEXT(YEAR({!$Record.Mortgage_Discharge_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>ParticipantEmailsProcessed</name>
        <dataType>String</dataType>
        <expression>LEFT({!ParticipantEmails}, LEN({!ParticipantEmails})-1)</expression>
    </formulas>
    <formulas>
        <name>ParticipantNamesProcessed</name>
        <dataType>String</dataType>
        <expression>LEFT({!ParticipantNames}, LEN({!ParticipantNames})-2)</expression>
    </formulas>
    <label>Case Program Exit Logic</label>
    <loops>
        <name>Loop_Finance_Emails</name>
        <label>Loop Finance Emails</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <collectionReference>Get_SRO_Finance_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Finance_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Discharge_Confirmation_Finance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants_0</name>
        <label>Loop Participants</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Email_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Participant_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Activity</name>
        <label>Create Email Activity</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Send_Discharge_Confirmation_PFO</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgDischargedSRO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Property ID {!$Record.Property__r.OrderNumber} Program exit : Victorian Homebuyer Fund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Get_Homebuyer_Email.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Activity_0_0</name>
        <label>Create Email Activity</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Get_SRO_Finance_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgDischargedPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Property ID {!$Record.Property__r.OrderNumber} Program exit : Victorian Homebuyer Fund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Property__r.Contract.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Activity_0_0_0</name>
        <label>Create Email Activity</label>
        <locationX>50</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Deactivate_Participant_Accounts</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgDischargedFinance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Property ID {!$Record.Property__r.OrderNumber} Program exit : Victorian Homebuyer Fund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>FinanceEmails</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Homebuyer_Email</name>
        <label>Get Homebuyer Email</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Discharge_Confirmation_SRO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homebuyer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SRO_Emails__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participants</name>
        <label>Get Participants</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Participants_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Participant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActiveApplicant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SRO_Finance_Email</name>
        <label>Get SRO Finance Email</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Finance_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Team__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Participant_Accounts</name>
        <label>Deactivate Participant Accounts</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Deactivate_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActiveApplicant__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActiveApplicant__pc</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Participant__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Participant__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Property</name>
        <label>Deactivate Property</label>
        <locationX>50</locationX>
        <locationY>2567</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update participant names field if it has changed</description>
        <name>Update_Participant_Names</name>
        <label>Update Participant Name &amp; Email</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Participant_Names__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ParticipantNamesProcessed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participant_Emails__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ParticipantEmailsProcessed</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Emails__c</field>
            <value>
                <elementReference>ParticipantEmailsProcessed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Names__c</field>
            <value>
                <elementReference>ParticipantNamesProcessed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Sale</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailMsgDischargedFinance</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;white-space: normal;&quot;&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img style=&quot;max-width:1191.68px; width:110px; height:71px&quot; width=&quot;110&quot; title=&quot;SRO Victoria&quot; height=&quot;71&quot; alt=&quot;sro_header_logologo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt; &lt;table style=&quot;width:600px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #004c97;&quot;&gt;Program exit completed&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear SRO Finance Officer&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;This is to inform you that the property {!$Record.Property_Address__c} is no longer in the Victorian Homebuyer Fund program.&lt;/span&gt;&lt;br&gt; &amp;nbsp; &lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border: 0px; border-top: solid 1.5px #004c97;&quot;&gt; &lt;br&gt;&lt;b&gt;&lt;span style=&quot;font-size:20px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: #004c97;&quot;&gt;Request details&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &amp;nbsp; &lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt; &lt;tbody &gt; &lt;tr&gt; &lt;td&gt;Mortgage discharge date&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!DischargeDate}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Participant names&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!ParticipantNamesProcessed}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Proportional Interest Amount&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!$Record.Proportionate_interest_amount__c}&lt;/td&gt; &lt;/tr&gt;  &lt;/tbody&gt; &lt;/table&gt;&lt;br/&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Org_URL__c}/{!$Record.Id}&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 32.3px 0px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Request&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt; &amp;nbsp;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;  &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px #004c97&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; © State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img style=&quot;max-width:1191.68px; width:90px; height:51px&quot; width=&quot;90&quot; title=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; alt=&quot;victoria-state-government-logo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgDischargedParticipants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;white-space: normal;&quot;&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img style=&quot;max-width:1191.68px; width:110px; height:71px&quot; width=&quot;110&quot; title=&quot;SRO Victoria&quot; height=&quot;71&quot; alt=&quot;sro_header_logologo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt; &lt;table style=&quot;width:600px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #004c97;&quot;&gt;Program exit completed&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Participants&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Thank you for participating in the Victorian Homebuyer Fund (VHF) program.&lt;br/&gt;&lt;br/&gt;This is to confirm your exit from the VHF program for the property {!$Record.Property_Address__c} has been completed and mortgage discharged on {!DischargeDate}.&lt;br/&gt;&lt;br/&gt;Your access to the participant portal will be removed shortly. &lt;br&gt; &lt;br/&gt;Please find attached the Program Exit Document. &lt;/span&gt;&lt;br/&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;  &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px #004c97&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; © State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img style=&quot;max-width:1191.68px; width:90px; height:51px&quot; width=&quot;90&quot; title=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; alt=&quot;victoria-state-government-logo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgDischargedPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;white-space: normal;&quot;&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img style=&quot;max-width:1191.68px; width:110px; height:71px&quot; width=&quot;110&quot; title=&quot;SRO Victoria&quot; height=&quot;71&quot; alt=&quot;sro_header_logologo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt; &lt;table style=&quot;width:600px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #004c97;&quot;&gt;Program exit completed&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer_FirstName__c}&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;This is to inform you that the property {!$Record.Property_Address__c} is no longer in the Victorian Homebuyer Fund program.&lt;/span&gt;&lt;br&gt; &amp;nbsp; &lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border: 0px; border-top: solid 1.5px #004c97;&quot;&gt; &lt;br&gt;&lt;b&gt;&lt;span style=&quot;font-size:20px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: #004c97;&quot;&gt;Request details&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &amp;nbsp; &lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt; &lt;tbody &gt; &lt;tr&gt; &lt;td&gt;Mortgage discharge date&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!DischargeDate}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Participant names&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!ParticipantNamesProcessed}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Proportional Interest Amount&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!$Record.Proportionate_interest_amount__c}&lt;/td&gt; &lt;/tr&gt;  &lt;/tbody&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;  &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px #004c97&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; © State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img style=&quot;max-width:1191.68px; width:90px; height:51px&quot; width=&quot;90&quot; title=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; alt=&quot;victoria-state-government-logo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgDischargedSRO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;white-space: normal;&quot;&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img style=&quot;max-width:1191.68px; width:110px; height:71px&quot; width=&quot;110&quot; title=&quot;SRO Victoria&quot; height=&quot;71&quot; alt=&quot;sro_header_logologo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt; &lt;table style=&quot;width:600px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #004c97;&quot;&gt;Program exit completed&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear SRO Officer&lt;/span&gt;&lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;This is to inform you that the property {!$Record.Property_Address__c} is no longer in the Victorian Homebuyer Fund program.&lt;/span&gt;&lt;br&gt; &amp;nbsp; &lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border: 0px; border-top: solid 1.5px #004c97;&quot;&gt; &lt;br&gt;&lt;b&gt;&lt;span style=&quot;font-size:20px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: #004c97;&quot;&gt;Request details&lt;/span&gt;&lt;/b&gt;&lt;br&gt; &amp;nbsp; &lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt; &lt;tbody &gt; &lt;tr&gt; &lt;td&gt;Mortgage discharge date&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!DischargeDate}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Participant names&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!ParticipantNamesProcessed}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Proportional Interest Amount&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!$Record.Proportionate_interest_amount__c}&lt;/td&gt; &lt;/tr&gt;  &lt;/tbody&gt; &lt;/table&gt;&lt;br/&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Org_URL__c}/{!$Record.Id}&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 32.3px 0px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Request&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt; &amp;nbsp;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;  &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px #004c97&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; © State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img style=&quot;max-width:1191.68px; width:90px; height:51px&quot; width=&quot;90&quot; title=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; alt=&quot;victoria-state-government-logo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>FinanceEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
