force-app/main/default/flows/Copy_Application_Details_To_Shadow_RecordConga.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_if_Shadow_record_already_exists</name>
        <label>Check if Shadow record already exists</label>
        <locationX>528</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Shadow_record_exists_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shadow_Existing_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shadow_Records</targetReference>
            </connector>
            <label>Shadow records do not exist</label>
        </rules>
        <rules>
            <name>Shadow_records_Exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shadow_Existing_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Shadow_records</targetReference>
            </connector>
            <label>Shadow_records_Exist</label>
        </rules>
    </decisions>
    <interviewLabel>{!Get_Individual_Application_Records.Status} - Copy Application Details to Shadow Record-Conga - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Application Details to Shadow Record-Conga</label>
    <loops>
        <name>Loop_All_Applicants</name>
        <label>Loop All Applicants</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>All_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Details_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Shadow_Records</name>
        <label>Create Shadow Records</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>Aboriginal_Applicants__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Aboriginal_Applicants__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address__c</field>
            <value>
                <elementReference>Billing_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_First_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Last_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <stringValue>{!Get_Individual_Application_Records.Account.FirstName}  {!Get_Individual_Application_Records.Account.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedDate__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.ApprovedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_City__c</field>
            <value>
                <elementReference>DesignatedCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Country__c</field>
            <value>
                <elementReference>DesignatedCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Postal_Code__c</field>
            <value>
                <elementReference>DesignatedPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_State__c</field>
            <value>
                <elementReference>DesignatedState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Street__c</field>
            <value>
                <elementReference>DesignatedStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Purchase_Price__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Maximum_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Aboriginal_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Aboriginal_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Melb_Geelong_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Melb_Geelong_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Financier_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Lender_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Settlement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Equity_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VHF_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Individual_Application_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Applicant_Records</name>
        <label>Fetch Applicant Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>All_Applicants</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Details_0</name>
        <label>Get Account Details</label>
        <locationX>528</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shadow_Existing_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>DesignatedCity</assignToReference>
            <field>PersonMailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesignatedCountry</assignToReference>
            <field>PersonMailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesignatedPostalCode</assignToReference>
            <field>PersonMailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesignatedState</assignToReference>
            <field>PersonMailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesignatedStreet</assignToReference>
            <field>PersonMailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Application_Records</name>
        <label>Get Individual Application Records</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Applicant_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shadow_Existing_Records</name>
        <label>Get Shadow Existing Records</label>
        <locationX>528</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Shadow_record_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual_Application_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Shadow_records</name>
        <label>Update Existing Shadow records</label>
        <locationX>528</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aboriginal_Applicants__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Aboriginal_Applicants__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address__c</field>
            <value>
                <elementReference>Billing_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_First_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Last_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <stringValue>{!Get_Individual_Application_Records.Account.FirstName} {!Get_Individual_Application_Records.Account.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedDate__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.ApprovedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_City__c</field>
            <value>
                <elementReference>DesignatedCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Country__c</field>
            <value>
                <elementReference>DesignatedCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Postal_Code__c</field>
            <value>
                <elementReference>DesignatedPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_State__c</field>
            <value>
                <elementReference>DesignatedState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Street__c</field>
            <value>
                <elementReference>DesignatedStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Purchase_Price__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Maximum_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Aboriginal_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Aboriginal_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Melb_Geelong_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Melb_Geelong_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meets_Regional_Vic_Criteria__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Meets_Regional_Vic_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Financier_Name__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Lender_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.Settlement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Equity_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VHF_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application_Records.VHF_Contribution_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Individual_Application_Shadow__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Individual_Application_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provisionally Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>All_Applicants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>Billing_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Copy_Field_Values_FromIndApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Individual_Application_Shadow__c</objectType>
    </variables>
    <variables>
        <name>DesignatedCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesignatedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesignatedPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesignatedState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesignatedStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Individual_Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
