force-app/main/default/flows/FinalApplicationNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Concatenate_Email_Ids_0</name>
        <label>Notification to initiate funds transfer - SRO Finance</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Msg_Activity_Finance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgFinanceInitiateFundsTransfer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailIDsFinanceTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application approved: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email alert to send notification to VGSO public group when funds are transferred.</description>
        <name>Funds_Transferred_Notification_to_VGSO</name>
        <label>Funds Transferred Notification to VGSO</label>
        <locationX>1986</locationX>
        <locationY>575</locationY>
        <actionName>Contract.Funds_Transferred_Notification_to_VGSO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_FundsTransferred_Email_Msg_Activity_VGSO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancellation_confirmation_to_Applicants_0</name>
        <label>Send Cancellation confirmation to Applicants</label>
        <locationX>1194</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Cancellation_Email_Msg_Activity_Applicants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgCancelledApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Cancellation.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application cancelled: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Approval_Email_to_PFO</name>
        <label>Send Final Approval Email to PFO</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <actionName>Contract.Final_Application_Approval_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Approval_Email_Msg_Activity_PFO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Cancellation_Email_to_PFO</name>
        <label>Send Final Cancellation Email to PFO</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>Contract.Final_Application_Cancellation_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Cancellation_Email_Msg_Activity_PFO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Rejection_Email_to_PFO</name>
        <label>Send Final Rejection Email to PFO</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <actionName>Contract.Final_Application_Rejection_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Rejection_Email_Msg_Activity_PFO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_confirmation_to_Applicants</name>
        <label>Send Rejection confirmation to Applicants</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Rejection_Email_Msg_Activity_Applicants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgRejectedApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Rejection.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Final application rejected: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Settlement_Completion_Email_to_PFO</name>
        <label>Send Settlement Completion Email to PFO</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>Contract.Final_Application_Settlement_Completed_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Settlement_Completion_Email_Msg_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_confirmation_to_Applicants</name>
        <label>Send Submission confirmation to Applicants</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Submission_Email_Msg_Activity_Applicants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgSubmissionApplicants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Submission.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Final approval application received: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_update_notification_to_Applicants_0</name>
        <label>Send update notification to Applicants</label>
        <locationX>1810</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Update_Email_Msg_Activity_Applicants_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgUpdateApplicants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Update.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application updated: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Settlement_Cancelled_Email_SRO</name>
        <label>Settlement Cancelled Email : SRO</label>
        <locationX>2338</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Settlement_Cancelled_SRO_activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgSettlementCancelledSRO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetHomebuyerEmail.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Settlement cancelled. Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Settlement_Cancelled_Email_SRO_0_0</name>
        <label>Settlement Cancelled Email : SRO</label>
        <locationX>2338</locationX>
        <locationY>1631</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_SettlementCancelled_Email_Msg_Activity_FinanceTeam_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgSettlementCancelled_FinanceTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailIDsFinanceTeam_CancelledSettlement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Settlement cancelled. Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Settlement_Completion_Email_DTF</name>
        <label>Settlement Completion Email:DTF</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Settlement_Email_Msg_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgSettlementCompletionDTF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>DTF_Email.DTF_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Settlement Completed. Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send an email to PFO for settlement cancellation.</description>
        <name>SettlementCancelled_PFO</name>
        <label>SettlementCancelled-PFO</label>
        <locationX>2338</locationX>
        <locationY>575</locationY>
        <actionName>Contract.Settlement_Cancellation_Panel_Financier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_SettlementCancelled_Email_Msg_Activity_PFO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignEmails_Cancelled_Settlement</name>
        <label>AssignEmails Cancelled Settlement</label>
        <locationX>2426</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>EmailIDsFinanceTeam_CancelledSettlement</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Finance_Team_Emails.Email__c},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Finance_Team_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Email_Ids1</name>
        <label>Concatenate_Email_Ids1</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>EmailIDsFinanceTeam</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Finance_Emails.Email__c},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Finance_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_First_Name</name>
        <label>Set Applicant First Name</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Submission.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Submission_confirmation_to_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_First_Name_0_0</name>
        <label>Set Applicant First Name</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Rejection.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejection_confirmation_to_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_First_Name_0_0_0</name>
        <label>Set Applicant First Name</label>
        <locationX>1194</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Cancellation.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Cancellation_confirmation_to_Applicants_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_First_Name_0_0_0_0_0</name>
        <label>Set Applicant First Name</label>
        <locationX>1810</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Update.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_update_notification_to_Applicants_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Application_Status</name>
        <label>Check Application Status</label>
        <locationX>1326</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Application_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FiveSecAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Applicants_for_Submission</targetReference>
            </connector>
            <label>Final Application Submitted</label>
        </rules>
        <rules>
            <name>Final_Application_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Approval_Email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Final Application Approved</label>
        </rules>
        <rules>
            <name>Final_Application_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Rejection_Email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Final Application Rejected</label>
        </rules>
        <rules>
            <name>Final_Application_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Cancellation_Email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Final Application Cancelled</label>
        </rules>
        <rules>
            <name>Final_Application_Settled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Settlement_Completion_Email_to_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Final Application Settled</label>
        </rules>
        <rules>
            <name>Final_Application_Updated</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR (9 AND (10 OR 11 OR 12))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Volume__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Folio__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lot_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessed_Property_Value__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Term_Years__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Settlement_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Details_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funds Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Applicants_for_Update</targetReference>
            </connector>
            <label>Final Application Updated</label>
        </rules>
        <rules>
            <name>Funds_Transfer_Trust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funds Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Funds_Transferred_Notification_to_VGSO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Funds Transfer to Trust</label>
        </rules>
        <rules>
            <name>Settlement_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled Settlement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SettlementCancelled_PFO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Settlement Cancelled</label>
        </rules>
    </decisions>
    <description>VHF-3348 (19/11/21)
VHF-3376(19/11/21)
VHF-2775+VHF-2923
VHF-3705(8/12/21)
VHF-3619(8/12/21)
VHF-3732(10/12/21)
VHF-3619(8/12/21)
VHF-3709(14/12/21)</description>
    <formulas>
        <name>FiveSecAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1/17280</expression>
    </formulas>
    <formulas>
        <name>PropertyAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingStreet} &amp; BR() &amp;
{!$Record.BillingCity} &amp; &quot;, &quot; &amp;BR() &amp;
{!$Record.BillingState} &amp; &quot;, &quot; &amp;
{!$Record.BillingPostalCode} &amp; BR() &amp;
{!$Record.BillingCountry}</expression>
    </formulas>
    <formulas>
        <name>SenderName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+ {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>SubmissionDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}</expression>
    </formulas>
    <interviewLabel>FinalApplicationNotifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FinalApplicationNotifications</label>
    <loops>
        <name>Loop_Applicants_for_Cancellation</name>
        <label>Loop Applicants for Cancellation</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_First_Name_0_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Rejection</name>
        <label>Loop Applicants for Rejection</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_First_Name_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Submission</name>
        <label>Loop Applicants for Submission</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_First_Name</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Applicants_for_Update</name>
        <label>Loop Applicants for Update</label>
        <locationX>1722</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_First_Name_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Personal_Details_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Finance_Emails</name>
        <label>Loop Finance Emails</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <collectionReference>GetMailAddressesForSROFinance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Email_Ids1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Concatenate_Email_Ids_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Finance_Team_Emails</name>
        <label>Loop Finance Team Emails</label>
        <locationX>2338</locationX>
        <locationY>1295</locationY>
        <collectionReference>GetMailAddressesForSROFinanceOfficers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmails_Cancelled_Settlement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Settlement_Cancelled_Email_SRO_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Approval_Email_Msg_Activity_PFO</name>
        <label>Create Approval Email Msg Activity-PFO</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>GetMailAddressesForSROFinance</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgApprovedPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final approval: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cancellation_Email_Msg_Activity_Applicants</name>
        <label>Create Cancellation Email Msg Activity-Applicants</label>
        <locationX>1194</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Cancellation</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgCancelledApplicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application cancelled: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Cancellation.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cancellation_Email_Msg_Activity_PFO</name>
        <label>Create Cancellation Email Msg Activity-PFO</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Cancellation</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgCancelledPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application cancelled: Victorian Homebuyer Fund -  {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Msg_Activity_Finance</name>
        <label>Create Email Msg Activity-Finance</label>
        <locationX>402</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgFinanceInitiateFundsTransfer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application approved: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>EmailIDsFinanceTeam</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FundsTransferred_Email_Msg_Activity_VGSO</name>
        <label>Create Funds Transferred Email Msg Activity-VGSO</label>
        <locationX>1986</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>FundsTransferredVGSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Notify VGSO Funds Transferred: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejection_Email_Msg_Activity_Applicants</name>
        <label>Create Rejection Email Msg Activity-Applicants</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Rejection</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgRejectedApplicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final application rejected: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Rejection.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejection_Email_Msg_Activity_PFO</name>
        <label>Create Rejection Email Msg Activity-PFO</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Rejection</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgRejectedPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final application rejected: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Settlement_Cancelled_SRO_activity</name>
        <label>Create Settlement Cancelled SRO activity</label>
        <locationX>2338</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>GetMailAddressesForSROFinanceOfficers</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSettlementCancelledSRO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Settlement cancelled. Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>GetHomebuyerEmail.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Settlement_Completion_Email_Msg_Activity</name>
        <label>Create Settlement Completion Email Msg Activity</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>DTF_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSettlementCompletionPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Settlement Completed. Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Settlement_Email_Msg_Activity</name>
        <label>Create_Settlement_Email_Msg_Activity</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSettlementCompletionDTF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Settlement Completed. Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>DTF_Email.DTF_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SettlementCancelled_Email_Msg_Activity_FinanceTeam_0</name>
        <label>Create Settlement Cancelled Email Msg Activity-FinanceTeam</label>
        <locationX>2338</locationX>
        <locationY>1751</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSettlementCancelled_FinanceTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Settlement cancelled: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>EmailIDsFinanceTeam_CancelledSettlement</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SettlementCancelled_Email_Msg_Activity_PFO</name>
        <label>Create Settlement Cancelled Msg Activity-PFO</label>
        <locationX>2338</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>GetHomebuyerEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSettlementCancelledPFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Settlement cancelled: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Submission_Email_Msg_Activity_Applicants</name>
        <label>Create Submission Email Msg Activity-Applicants</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgSubmissionApplicants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final approval application received: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Submission.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_Email_Msg_Activity_Applicants_0</name>
        <label>Create Update Email Msg Activity-Applicants</label>
        <locationX>1810</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgUpdateApplicants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>FiveSecAgo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application updated: Victorian Homebuyer Fund - {!$Record.ContractNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Update.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>DTF_Email</name>
        <label>DTF Email</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Settlement_Completion_Email_DTF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DTF_Contact_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DTF_Email__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>1326</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IndividualApplicationId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the email address from custom metadata</description>
        <name>GetHomebuyerEmail</name>
        <label>GetHomebuyerEmail</label>
        <locationX>2338</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Settlement_Cancelled_Email_SRO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homebuyer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SRO_Emails__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMailAddressesForSROFinance</name>
        <label>GetMailAddressesForSROFinance</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Finance_Emails</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Team__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the email address save in Custom setting to save the Mail Message records.</description>
        <name>GetMailAddressesForSROFinanceOfficers</name>
        <label>GetMailAddressesForSROFinanceOfficers</label>
        <locationX>2338</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Finance_Team_Emails</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Team__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Personal_Details_Changed</name>
        <label>Reset Personal Details Changed</label>
        <locationX>1722</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Details_Changed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Personal_Details_Changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Applicants</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailMsgApprovedApplicants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application approved&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application has been approved. Please find attached the final approval letter.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application approved on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Final_Approval_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Read the final approval letter for more information about your application.&lt;/span&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have any questions or need more information about settlement, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgApprovedPFO</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application approved&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The application you submitted has been approved.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application approved on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Final_Approval_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt;&lt;br /&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/detail/{!$Record.Id}&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 10px 4px 10px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgCancelledApplicant</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application cancelled&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application has been cancelled.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Cancellation Reason&lt;/b&gt;:  {!$Record.Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;:  {!$Record.Rejection_Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&amp;nbsp;&lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about the application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgCancelledPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application cancelled&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The application you submitted has been cancelled.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Cancellation Reason&lt;/b&gt;:  {!$Record.Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;:  {!$Record.Rejection_Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt; {!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt;&lt;br /&gt;&lt;p&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about this application, contact us on (03) 7020 1549.&lt;/span&gt;&lt;/p&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/detail/{!$Record.Id}&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 25.5px 194px 0px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgFinanceInitiateFundsTransfer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application approved&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Finance Team,&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund&amp;nbsp;submitted for&amp;nbsp;{!$Record.ApplicantNames__c}&amp;nbsp;by&amp;nbsp;&lt;br&gt; {!$Record.Panel_Financier_Name__c}&amp;nbsp;on {!$Record.CreatedDate} has been approved. &lt;br&gt;&lt;br&gt;Please transfer the funds and then login to homebuyer application and update the &lt;br&gt; case sub-status to completed and provide Fund transfer date.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;	{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;
&lt;td align=&quot;right&quot;&gt;{!$Record.CreatedDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;
&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Property&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PropertyAddress}&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Funds&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;${!$Record.VHF_Contribution__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Registration fee&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;$112.40&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;PEXA fee&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;$59.07&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgRejectedApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application submitted&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName},&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application has been rejected. Please see below details of your application.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Rejection Reason&lt;/b&gt;:  {!$Record.Rejection_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;&lt;b&gt;Details&lt;/b&gt;:  {!$Record.Rejection_Cancellation_Reason__c}&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have any questions or need more information about your application, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgRejectedPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application rejected&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer__r.FirstName}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The application you submitted has been rejected.&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;&lt;b&gt;Rejection reason&lt;/b&gt;:&amp;nbsp;{!$Record.Rejection_Reason__c} &lt;/span&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px; width:600px; word-wrap:break-word; display: inline-block;&quot;&gt;
&lt;b&gt;Details&lt;/b&gt;:&amp;nbsp;{!$Record.Rejection_Cancellation_Reason__c}&lt;/span&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&amp;nbsp;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have any questions or need more information about this application, contact us on (03) 7020 1549.&lt;/span&gt;&lt;br /&gt;&lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/detail/{!$Record.Id}&quot;&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 25.5px 194px 0px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSettlementCancelled_FinanceTeam</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Settlement cancelled&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Finance Team,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund submitted for {!$Record.ApplicantNames__c} by {!$Record.Panel_Finance_Officer__r.Account.Name} on {!SubmissionDate} was approved and the settlement was cancelled.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Property&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PropertyAddress}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Comments&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Rejection_Cancellation_Reason__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSettlementCancelledPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img style=&quot;max-width:1191.68px; width:110px; height:71px&quot; width=&quot;110&quot; title=&quot;SRO Victoria&quot; height=&quot;71&quot; alt=&quot;sro_header_logologo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;br&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Settlement cancelled&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Finance_Officer_FirstName__c},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund submitted for&amp;nbsp; {!$Record.ApplicantNames__c} by {!$Record.Panel_Financier_Name__c} on {!SubmissionDate} was approved and the settlement was cancelled. &lt;br&gt;&lt;br&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot;&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Property&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PropertyAddress}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Comments&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Rejection_Cancellation_Reason__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img style=&quot;max-width:1191.68px; width:90px; height:51px&quot; width=&quot;90&quot; title=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; alt=&quot;victoria-state-government-logo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>VHF-1769</description>
        <name>EmailMsgSettlementCancelledSRO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Settlement cancelled&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Homebuyer team,&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The settlement for the below Victorian Homebuyer Fund application has been cancelled.&lt;br /&gt;
&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Property&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PropertyAddress}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Comments&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Rejection_Cancellation_Reason__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt;&lt;br /&gt;&lt;span style=&quot;padding: 9px 41px 8px 42px; margin: 25.5px 194px 0px 0px; background-color: #004c97; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View Application&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSettlementCompletionDTF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Settlement Completed&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Department of Treasury and Finance,&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund submitted for {!$Record.ApplicantNames__c} &lt;br/&gt; by {!$Record.Panel_Financier_Name__c} on {!SubmissionDate} was approved and settlement is complete.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt; &lt;td&gt;Property&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!PropertyAddress}&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Dealing number&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicationCaseId__r.Dealing_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSettlementCompletionPFO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Settlement Completed&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Panel_Financier_Name__c},&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund submitted for {!$Record.ApplicantNames__c} by {!$Record.Panel_Financier_Name__c} on {!SubmissionDate} was approved and settlement is complete.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt; &lt;td&gt;Property&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!PropertyAddress}&lt;/td&gt; &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgSubmissionApplicants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application submitted&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName},&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;We&apos;ve received your application. Please see below details of your application.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;Final Application Submitted&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt; &lt;td&gt;Submitted by&lt;/td&gt; &lt;td align=&quot;right&quot;&gt;{!$Record.Panel_Finance_Officer__r.Account.Name}&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;We will review your application and notify you of the outcome within 5 working days.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgUpdateApplicants</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application updated&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!ApplicantFirstName},&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your application submitted through {!$Record.Panel_Finance_Officer__r.Account.Name} on {!SubmissionDate} to participate in the Victorian Homebuyer Fund has been updated.&lt;br /&gt;&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt;&lt;b&gt;&lt;span style=&quot;font-size:16px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #1d4480;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about your application changes, contact your bank.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailNotificationBodyToFinanceTeam</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Settlement cancelled&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Finance Team,&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund submitted for&lt;br /&gt;
{{{Contract.ApplicantNames__c}}} by {{{Contract.Panel_Financier_Name__c}}} on {{{Contract.CreatedDate}}} was approved and the settlement was cancelled.&lt;br&gt;&lt;br&gt;&lt;/span&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;
&lt;td align=&quot;right&quot;&gt;{{{Contract.CreatedDate}}}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td align=&quot;right&quot;&gt;Applicant(s)&lt;/td&gt;
&lt;td align=&quot;right&quot;&gt;{{{Contract.ApplicantNames__c}}}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td align=&quot;right&quot;&gt;Property&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{{{Contract.BillingAddress}}}&lt;/td&gt;
&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Cancellation reason&lt;/td&gt;
&lt;td align=&quot;right&quot;&gt;{{{Contract.Rejection_Cancellation_Reason__c}}}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FundsTransferredVGSO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application approved - Funds transfer&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Victorian Government Solicitor&apos;s Office,&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;An application for the Victorian Homebuyer Fund submitted for&lt;/p&gt;&lt;p&gt;{!$Record.ApplicantNames__c} by {!$Record.Panel_Financier_Name__c} on {!$Record.Application_Submission_Date__c} has been approved.&lt;/p&gt;&lt;p&gt;Please find the application and funds transfer details below.&lt;/p&gt;&lt;br /&gt;
&lt;hr align=&quot;left&quot; style=&quot;width: 600px; border: 0px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt; &lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Case_Auto_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td valign=&quot;top&quot;&gt;Property&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.BillingAddress}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Funds transferred date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!$Record.Funds_Transferred_Date__c}&lt;/td&gt;&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;&lt;hr align=&quot;left&quot; style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 5.3px 10px 1.3px 0.3px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; /&gt; &lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&amp;#39;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Once settlement is complete, please reply to this email with the dealing number.&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>ApplicantFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailIDsFinanceTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The variable stores comma separated values for Finance team emails.</description>
        <name>EmailIDsFinanceTeam_CancelledSettlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
