force-app/main/default/flows/PropertyTotalRenovationCostCalc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Renovation_Cost</name>
        <label>Assign Renovation Cost</label>
        <locationX>90</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>TotalRenovationCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cases.Renovation_cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PropertyTotalRenovationCostCalc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PropertyTotalRenovationCostCalc</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>428</locationX>
        <locationY>492</locationY>
        <collectionReference>CollectionOfCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Renovation_Cost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePropertyTotalRenovationCost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>181</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputPropertyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CollectionOfCaseRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Property__c</queriedFields>
        <queriedFields>Renovation_cost__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePropertyTotalRenovationCost</name>
        <label>UpdatePropertyTotalRenovationCost</label>
        <locationX>640</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputPropertyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_approved_renovation__c</field>
            <value>
                <elementReference>TotalRenovationCost</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalRenovationCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
