force-app/main/default/flows/Provisional_Application_Triggered_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Flag_Value</name>
        <label>Assign Flag Value</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>GetApplicantsAccount.IsActiveApplicant__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetApplicantsAccount.Medicare_Card_Number__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetApplicantsAccount.Medicare_Reference_Number__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetApplicantsAccount.MedicareNumber__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ToAddCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Shadow_Record</name>
        <label>Assign Values to Shadow Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.First_Extension_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Extension_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.Second_Extension_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Second_Extension_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Expiry_Date1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.ApprovedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provisional_Approval_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.Case_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application_Case_Autonumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Shadow_Records.Provisional_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provisional_Approval_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shadow_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToAddCollection</name>
        <label>ToAddCollection</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>CollectionAccountRecordsToupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetApplicantsAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Expiry_Extension_is_requested</name>
        <label>Check if Expiry Extension is requested</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>get_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Extension_was_requested</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.First_Extension_Requested__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.First_Extension_Requested__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Second_Extension_Requested__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Second_Extension_Requested__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shadow_Records</targetReference>
            </connector>
            <label>Check if Extension was requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_was_also_Updated</name>
        <label>Check if Status was also Updated</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Applicants</targetReference>
            </connector>
            <label>Status check</label>
        </rules>
    </decisions>
    <description>Provisional Application Triggered Changes to Applicants:VHF1699+VHF-2248,VHF 3072,</description>
    <formulas>
        <name>AssignNull</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Provisional Application Triggered Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provisional Application Triggered Changes</label>
    <loops>
        <name>Loop_Thru_Applicants</name>
        <label>Loop Thru Applicants</label>
        <locationX>226</locationX>
        <locationY>1367</locationY>
        <collectionReference>get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetApplicantsAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Applicants</name>
        <label>get Applicants</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the related Shadow record of this application</description>
        <name>Get_Shadow_Records</name>
        <label>Get Shadow Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Shadow_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual_Application_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApplicantsAccount</name>
        <label>GetApplicantsAccount</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Flag_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Thru_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActiveApplicant__pc</queriedFields>
        <queriedFields>Is_Participant__pc</queriedFields>
        <queriedFields>Medicare_Card_Number__pc</queriedFields>
        <queriedFields>Medicare_Reference_Number__pc</queriedFields>
        <queriedFields>MedicareNumber__pc</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Account_Records</name>
        <label>Update All Account Records</label>
        <locationX>226</locationX>
        <locationY>1943</locationY>
        <inputReference>CollectionAccountRecordsToupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shadow_Record</name>
        <label>Update Shadow Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_if_Status_was_also_Updated</targetReference>
        </connector>
        <inputReference>Get_Shadow_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Expiry_Extension_is_requested</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>First_Extension_Requested__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Second_Extension_Requested__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CollectionAccountRecordsToupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CollectionParticipantsRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IsActiveFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsActiveFlagVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
