force-app/main/default/flows/ProvAppExpiryReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Expiry_Email_to_Applicants</name>
        <label>Send Expiry Email to Applicants</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Expiry_Email_Msg_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgExpiryToApplicants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application about to expire : Victorian Homebuyer Fund - {!PARECORDID.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignAppRecordsToUpdate</name>
        <label>AssignAppRecordsToUpdate</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PARECORDID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvApplicationsLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PARECORDID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvApplicationsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetApplicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Firstname</name>
        <label>Set Applicant Firstname</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ApplicantFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmissionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.IndividualApplication__r.Submission_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Expiry_Email_to_Applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ListSize</name>
        <label>ListSize</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordListSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProvAppRecordsCollectionApex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProvApplicationsLoop</targetReference>
            </connector>
            <label>RecordListSize</label>
        </rules>
    </decisions>
    <description>VHF :5,1700 &amp; 953+VHf2678+2646+2646V2 + VHF-3709
VHF-3726 (10/12/21)
VFH-3709 (13/12/21)</description>
    <interviewLabel>ProvAppExpiryReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProvAppExpiryReminder</label>
    <loops>
        <name>Loop_Applicants_for_Expiry</name>
        <label>Loop Applicants for Expiry</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <collectionReference>GetApplicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Applicant_Firstname</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProvApplicationsLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProvApplicationsLoop</name>
        <label>ProvApplicationsLoop</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>GetProvAppRecordsCollectionApex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAppRecordsToUpdate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Expiry_Email_Msg_Activity</name>
        <label>Create Expiry Email Msg Activity</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_Applicants_for_Expiry</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgExpiryToApplicants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>PARECORDID.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>PARECORDID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application about to expire: Victorian Homebuyer Fund -{!PARECORDID.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Applicants_for_Expiry.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetApplicants</name>
        <label>GetApplicants</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Applicants_for_Expiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProvApplicationsLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ListSize</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailMsgExpiryToApplicants</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; height=&quot;100%&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt;&lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;table style=&quot;width:600px; margin:0 24px 0 24px; font-family:Calibri,Arial,Helvetica,sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application expiry reminder&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear Applicant&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Your provisional approval will expire on {!PARECORDID.Expiry_Date1__c}.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have already entered into a contract of sale and the application is in process, you can ignore this email.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you need more time, your bank can request an extension of your provisional approval.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&amp;nbsp;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size:20px;Font-family: Calibri, Arial, Helvetica, sans-serif;;color: #004c97;&quot;&gt;Application Details&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&amp;nbsp;&lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;Case ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PARECORDID.Application_Case_Autonumber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Application ID&lt;/td&gt;&lt;td align=&quot;right&quot;&gt; {!PARECORDID.Name}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Submitted on&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!SubmissionDate}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Expiry date&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PARECORDID.Expiry_Date1__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Applicant(s)&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;{!PARECORDID.ApplicantNames__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;hr style=&quot;width: 600px; border: 0px; border-top: solid 1.5px; color: #004c97;&quot; align=&quot;left&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size:16px;color: #004c97;&quot;&gt;What&apos;s next?&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;If you have a question or need more information about your application, contact your bank.&lt;/span&gt;&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;


&lt;table style=&quot;width:650px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px; color: #004c97;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table style=&quot;width:650px; padding:0 24px 0 24px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt;© State of Victoria (State Revenue Office)&lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt;&lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>ApexPARecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ApexClass</objectType>
    </variables>
    <variables>
        <name>ApplicantFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetProvAppRecordsCollectionApex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>GetProvAppRecordsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>PARECORDID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>SingleVaribleProAppRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>SubmissionDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
