force-app/main/default/flows/Receive_Payment_Response_from_Payment_Gateway.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Exception_Fields</name>
        <label>Assign Exception Fields</label>
        <locationX>1526</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.GatewayResultCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Result_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.GatewayResultCodeDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Result_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Has Gateway Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Demand_ID_Null</name>
        <label>Demand ID Null</label>
        <locationX>982</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Payment Via DemandID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Identifier_Error</name>
        <label>Identifier Error</label>
        <locationX>884</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No DemandID is it BPAY Receipt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_ID_Null</name>
        <label>Payment ID Null</label>
        <locationX>635</locationX>
        <locationY>1373</locationY>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Payment_Via_PaymentID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_ID_Null_0</name>
        <label>Payment ID Null</label>
        <locationX>1078</locationX>
        <locationY>2061</locationY>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Payment_Via_PaymentID_0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentID_Error</name>
        <label>Payment ID Error</label>
        <locationX>761</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Has Payment ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BPAY</name>
        <label>Set BPAY</label>
        <locationX>626</locationX>
        <locationY>2272</locationY>
        <assignmentItems>
            <assignToReference>ExternalSystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BPAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Response_Errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BPAY_0</name>
        <label>Set BPAY</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>ExternalSystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BPAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Integration_Log_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancellation_Fields</name>
        <label>Set Cancellation Fields</label>
        <locationX>1243</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Cancellation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Operation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_DemandID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DemandID</name>
        <label>Set DemandID</label>
        <locationX>1199</locationX>
        <locationY>1414</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.DemandID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Via_DemandID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.ByPassValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_To_Expire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Element</name>
        <label>Set Error Element</label>
        <locationX>324</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Element_0</name>
        <label>Set Error Element</label>
        <locationX>138</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>Element</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Operation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message_Variables_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Exception_Message</name>
        <label>Set Exception Message</label>
        <locationX>139</locationX>
        <locationY>2524</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Payment Response has encountered failure condition - Payment ID: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Demand ID: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Payment_Update_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expiry_Field</name>
        <label>Set Expiry Field</label>
        <locationX>1328</locationX>
        <locationY>1819</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expiry_Variable</name>
        <label>Set Expiry Variable</label>
        <locationX>1005</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ExpiryEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_DemandID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_Variables</name>
        <label>Set Message Variables</label>
        <locationX>563</locationX>
        <locationY>1972</locationY>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Updated payment record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DemandID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, iCRN__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.iCRN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Method__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Payment_ID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Reference_Number__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Code__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Description__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Settlement_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Settlement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Amount_Received__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Link__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set message variables when a critical error occurs (due to missing operation in the response) or the update record element reached a fault condition</description>
        <name>Set_Message_Variables_0</name>
        <label>Set Message Variables</label>
        <locationX>147</locationX>
        <locationY>1865</locationY>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Attempted to update payment record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DemandID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, iCRN__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.iCRN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Method__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Payment_ID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Reference_Number__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Code__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Description__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Settlement_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Settlement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Amount_Received__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Link__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_System_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set message variables when payment record could not be found based on record identifier provided in message</description>
        <name>Set_Message_Variables_0_0</name>
        <label>Set Message Variables</label>
        <locationX>1006</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Failed to update payment record: No payment record matching identifier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DemandID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, iCRN__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.iCRN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Method__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Payment_ID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Reference_Number__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Code__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Description__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Settlement_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Settlement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Amount_Received__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Link__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set message variables when payment record could not be found because record identifier is not available in message</description>
        <name>Set_Message_Variables_0_0_0</name>
        <label>Set Message Variables</label>
        <locationX>721</locationX>
        <locationY>1663</locationY>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Failed to update payment record: Record identifier not found in response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DemandID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, iCRN__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.iCRN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Method__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Operation_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Payment_ID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Reference_Number__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Code__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Result_Description__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Result_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Settlement_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Settlement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Amount_Received__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Link__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PaymentID</name>
        <label>Set PaymentID</label>
        <locationX>1200</locationX>
        <locationY>1961</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Via_PaymentID_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.ByPassValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receipt_Fields</name>
        <label>Set Receipt fields</label>
        <locationX>671</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Transaction_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Settlement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Amount_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_DemandID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Registration_Fields</name>
        <label>Set Registration Fields</label>
        <locationX>562</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.DemandID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Payment_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.iCRN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.iCRN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Biller_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillerCodeText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Via_PaymentID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Victoria</name>
        <label>Set Service Victoria</label>
        <locationX>881</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>ExternalSystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Victoria</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Response_Errors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Victoria_0</name>
        <label>Set Service Victoria</label>
        <locationX>227</locationX>
        <locationY>2208</locationY>
        <assignmentItems>
            <assignToReference>ExternalSystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Victoria</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Integration_Log_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>External_System</name>
        <label>External System</label>
        <locationX>745</locationX>
        <locationY>2144</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Victoria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BPAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BPAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BPAY</targetReference>
            </connector>
            <label>BPAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_System_0</name>
        <label>External System</label>
        <locationX>139</locationX>
        <locationY>2031</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Victoria_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BPAY_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BPAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BPAY_0</targetReference>
            </connector>
            <label>BPAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Record_Status</name>
        <label>Get Record Status</label>
        <locationX>312</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>Payment_ID_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Via_PaymentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Biller_Code</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Record_Status_0</name>
        <label>Get Record Status</label>
        <locationX>1194</locationX>
        <locationY>1252</locationY>
        <defaultConnector>
            <targetReference>Demand_ID_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Via_DemandID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DemandID</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Record_Status_0_0</name>
        <label>Get Record Status</label>
        <locationX>1370</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Payment_ID_Null_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Via_PaymentID_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PaymentID</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_DemandID</name>
        <label>Has DemandID</label>
        <locationX>997</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>No_DemandID_is_it_BPAY_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasDemandID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DemandID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DemandID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Via_DemandID</targetReference>
            </connector>
            <label>Has DemandID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Gateway_Error</name>
        <label>Has Gateway Error</label>
        <locationX>1350</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Exception_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result_Code__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result_Description__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PaymentID</name>
        <label>Has Payment ID</label>
        <locationX>529</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>PaymentID_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPaymentID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Via_PaymentID</targetReference>
            </connector>
            <label>Has Payment ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PaymentID_0</name>
        <label>Has Payment ID</label>
        <locationX>1519</locationX>
        <locationY>1506</locationY>
        <defaultConnector>
            <targetReference>Set_Message_Variables_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPaymentID_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Via_PaymentID_0</targetReference>
            </connector>
            <label>Has Payment ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_To_Expire</name>
        <label>Need To Expire</label>
        <locationX>1192</locationX>
        <locationY>1567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiryEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Via_DemandID.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Expiry_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Non_Expiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiryEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment</targetReference>
            </connector>
            <label>Non Expiry</label>
        </rules>
    </decisions>
    <decisions>
        <description>Normally for payment receipt, expiry and cancellation, we are using the Demand ID to match for updates.  In the case of processing BPAY payments, there is a Payment ID supplied with no Demand ID.  This decision element handles that BPAY Payment Receipt scenario to match using Payment ID.</description>
        <name>No_DemandID_is_it_BPAY_Receipt</name>
        <label>No DemandID, is it BPAY Receipt</label>
        <locationX>919</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Identifier_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPaymentID_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Receipt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Via_PaymentID_0</targetReference>
            </connector>
            <label>Has Payment ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>912</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Element_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_PaymentID</targetReference>
            </connector>
            <label>Registration</label>
        </rules>
        <rules>
            <name>Payment_Receipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Receipt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Receipt_Fields</targetReference>
            </connector>
            <label>Payment Receipt</label>
        </rules>
        <rules>
            <name>Expiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Expiry_Variable</targetReference>
            </connector>
            <label>Expiry</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancellation_Fields</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Operation</name>
        <label>Registration Operation</label>
        <locationX>1520</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>Has_DemandID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_PaymentID_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Result Code or Result Description Fields are set</description>
        <name>Response_Errors</name>
        <label>Response Errors</label>
        <locationX>756</locationX>
        <locationY>2359</locationY>
        <defaultConnector>
            <targetReference>Create_Integration_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Integration_Log_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Handles responses from Service Victoria
- Adding log capture
- Added &quot;Amount Received&quot; field when payment is received based on decision made on Feb 18th</description>
    <formulas>
        <name>BillerCodeText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Biller_Code.Biller_Code__c})</expression>
    </formulas>
    <interviewLabel>Receive Payment Response from {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receive Payment Response from Payment Gateway</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Integration_Log</name>
        <label>Create Integration Log</label>
        <locationX>764</locationX>
        <locationY>2603</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>StandardLogMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_System__c</field>
            <value>
                <elementReference>ExternalSystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Data__c</field>
            <value>
                <elementReference>FieldData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ok</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Log_0</name>
        <label>Create Integration Log</label>
        <locationX>139</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Set_Exception_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>StandardLogMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_System__c</field>
            <value>
                <elementReference>ExternalSystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Data__c</field>
            <value>
                <elementReference>FieldData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Payment_Update_Exception</name>
        <label>Log Payment Update Exception</label>
        <locationX>139</locationX>
        <locationY>2697</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Receive Payment Response from Payment Gateway</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <elementReference>Element</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Payment Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Log__c</field>
            <value>
                <elementReference>Create_Integration_Log_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ExceptionMsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Biller_Code</name>
        <label>Get Biller Code</label>
        <locationX>319</locationX>
        <locationY>1301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Registration_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VHF_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Via_DemandID</name>
        <label>Get Payment Via DemandID</label>
        <locationX>1201</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DemandID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DemandID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Via_PaymentID</name>
        <label>Get Payment Via PaymentID</label>
        <locationX>320</locationX>
        <locationY>814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Via_PaymentID_0</name>
        <label>Get Payment Via PaymentID</label>
        <locationX>1729</locationX>
        <locationY>2061</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Status_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>563</locationX>
        <locationY>1819</locationY>
        <connector>
            <targetReference>Set_Message_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Element</targetReference>
        </faultConnector>
        <inputReference>PaymentRecordVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>1232</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Has_Gateway_Error</targetReference>
        </connector>
        <object>Payment_Response__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Element</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Whether the event is in relation to an expiry of the Demand from Service Victoria</description>
        <name>ExpiryEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExternalSystem</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaymentRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>StandardLogMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
