force-app/main/default/flows/Refinance_Confirmation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_New_PF</name>
        <label>Notify New PF</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgConfCreatedNewPF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Shared_Mailbox__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Refinance request awaiting confirmation: Victorian Homebuyer Fund  - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_New_PF_RFC</name>
        <label>Notify New PF</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Activity_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMsgRefinanceCancellationNewPF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Shared_Mailbox__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Refinance request cancelled: Victorian Homebuyer Fund  - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Event</name>
        <label>Event</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PFO_if_blank</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status=Confirmed</label>
        </rules>
        <rules>
            <name>Status_Not_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Refinance_Case_0</targetReference>
            </connector>
            <label>Status=Not Confirmed</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_New_PF</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>CancelledRFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_New_PF_RFC</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>12/4/22 - VHF-3031
6/4/2022 - VHF-4220
26/04/2022-VHF-4159
09/05/2022-VHF-5735/VHF-6535/6534</description>
    <formulas>
        <name>CaseBypassToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Record.Refinance_Case_ID__r.BypassValidation__c})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PFOContactId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Panel_Finance_Officer__c}, {!$User.ContactId})</expression>
    </formulas>
    <formulas>
        <name>SubmitDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!$Record.CreatedDate})))+ &quot;/&quot; +TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}) ))+ &quot;/&quot; +TEXT(YEAR(DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <interviewLabel>Refinance Confirmation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refinance Confirmation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Activity</name>
        <label>Create Email Activity</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgConfCreatedNewPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Refinance request awaiting confirmation: Victorian Homebuyer Fund  - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Shared_Mailbox__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Activity_0</name>
        <label>Create Email Activity</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no-reply@sro.vic.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>State Revenue Office Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMsgRefinanceCancellationNewPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Refinance request cancelled: Victorian Homebuyer Fund  - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Shared_Mailbox__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Mortgage_Reregister_Queue_Id</name>
        <label>Get Mortgage Reregister Queue Id</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Refinance_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mortgage_Re_register_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PFO_if_blank</name>
        <label>Update PFO if blank</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Mortgage_Reregister_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Panel_Finance_Officer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Panel_Finance_Officer__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refinance_Case</name>
        <label>Update Refinance Case</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Refinance_Case_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <elementReference>CaseBypassToggle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_maturity_extended_due_to_hardship__c</field>
            <value>
                <elementReference>$Record.Loan_maturity_extended_due_to_hardship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_PFO_Refinance__c</field>
            <value>
                <elementReference>PFOContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Mortgage_Reregister_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refinance_Confirmed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refinanced_Loan_Maturity_Date__c</field>
            <value>
                <elementReference>$Record.Refinanced_Loan_Maturity_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refinance_Case_0</name>
        <label>Update Refinance Case</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Refinance_Case_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <elementReference>CaseBypassToggle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Confirmed_Reason__c</field>
            <value>
                <elementReference>$Record.Not_Confirmed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event</targetReference>
        </connector>
        <object>Confirmation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailMsgConfCreatedNewPF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html&gt;
   &lt;head&gt;
      &lt;title&gt;&lt;/title&gt;
   &lt;/head&gt;
   &lt;body&gt;
      &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;5&quot; width=&quot;100%&quot;&gt;
         &lt;tbody&gt;
            &lt;tr&gt;
               &lt;td&gt;
                  &lt;table style=&quot;width:650px; height: 70px; margin: 0 0 24.8px; padding: 25.6px 25px 24.4px; background-color: #004c97;&quot;&gt;
                     &lt;tbody&gt;
                        &lt;tr&gt;
                           &lt;td&gt;
                              &lt;img align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; style=&quot;max-width: 1191.68px; width: 110px; height: 71px;&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; /&gt; 
                              &lt;p&gt;&lt;span style=&quot;width: 368px;height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 28px;color: #fffffe;margin: 29.4px 67px 4.9px 0;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt;&lt;/p&gt;
                           &lt;/td&gt;
                        &lt;/tr&gt;
                     &lt;/tbody&gt;
                  &lt;/table&gt;
               &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
               &lt;td&gt;
                  &lt;table style=&quot;width:600px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;
                     &lt;tbody&gt;
                        &lt;tr&gt;
                           &lt;td&gt;
                              &lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #004c97;&quot;&gt;Refinance request awaiting confirmation&lt;/span&gt;&lt;/b&gt;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;Dear {!$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Name}&lt;/span&gt;&lt;br /&gt; &lt;br /&gt; &lt;span style=&quot;color:#212121; font-size:14px;&quot;&gt;The refinance request submitted by {!$Record.Current_PF__c}, for the property {!$Record.Property_Address__c}, indicating the loan is refinanced with {!$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Name} is awaiting confirmation. &lt;br/&gt;&lt;br/&gt;Please review and complete the request.&lt;/span&gt;&lt;br /&gt; &amp;nbsp; 
                              &lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border: 0px; border-top: solid 1.5px #004c97;&quot; /&gt;
                              &lt;br /&gt; &lt;b&gt;&lt;span style=&quot;font-size:20px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: #004c97;&quot;&gt;Request details&lt;/span&gt;&lt;/b&gt;&lt;br /&gt; &amp;nbsp; 
                              &lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;
                                 &lt;tbody&gt;
                                    &lt;tr&gt;
                                       &lt;td&gt;Request ID&lt;/td&gt;
                                       &lt;td align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt;
                                    &lt;/tr&gt;
                                    &lt;tr&gt;
                                       &lt;td&gt;Status&lt;/td&gt;
                                       &lt;td align=&quot;right&quot;&gt;{!$Record.Status__c}&lt;/td&gt;
                                    &lt;/tr&gt;
                                    &lt;tr&gt;
                                       &lt;td&gt;Submitted on&lt;/td&gt;
                                       &lt;td align=&quot;right&quot;&gt;{!SubmitDate}&lt;/td&gt;
                                    &lt;/tr&gt;
                                    &lt;tr&gt;
                                       &lt;td&gt;Submitted by&lt;/td&gt;
                                       &lt;td align=&quot;right&quot;&gt;{!$Record.Refinance_Case_ID__r.Contact.FirstName}&amp;nbsp;{!$Record.Refinance_Case_ID__r.Contact.LastName} &lt;/td&gt;
                                    &lt;/tr&gt;
                                 &lt;/tbody&gt;
                              &lt;/table&gt;
                              &lt;br /&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/confirmation/{!$Record.Id}&quot;&gt;&lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 32.3px 0px;&quot;&gt;&amp;nbsp;&amp;nbsp;View Refinance Confirmation record &amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/a&gt; &amp;nbsp;&amp;nbsp;
                           &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                           &lt;td&gt;
                              &amp;nbsp; 
                              &lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px #004c97&quot; /&gt;
                           &lt;/td&gt;
                        &lt;/tr&gt;
                     &lt;/tbody&gt;
                  &lt;/table&gt;
               &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
               &lt;td&gt;
                  &lt;table style=&quot;width:650px;&quot;&gt;
                     &lt;tbody&gt; &lt;/tbody&gt;
                  &lt;/table&gt;
                  &lt;table style=&quot;width:650px; padding: 0 24px 0 24px;&quot;&gt;
                     &lt;tbody&gt;
                        &lt;tr&gt;
                           &lt;td&gt;
                              &lt;span style=&quot;width:300px; height: 24px; margin: 0 0 8px 0; Font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: #004c97;&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; 
                              &lt;p&gt;&lt;span style=&quot;Font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 14px; color: #004c97;width: 300px; height: 19px; margin: 8px 0 0 0;&quot;&gt;&amp;copy; State of Victoria (State Revenue Office)&lt;br /&gt; GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia&lt;/span&gt;&lt;/p&gt;
                           &lt;/td&gt;
                           &lt;td align=&quot;right&quot;&gt;&lt;span style=&quot;width:256px; height: 24px; margin: 0 0 8px 25px; padding: 0 0 0 0; Font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 18px; color: #004c97;&quot;&gt;&lt;img style=&quot;max-width:1191.68px; width:90px; height:51px&quot; width=&quot;90&quot; title=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; alt=&quot;victoria-state-government-logo&quot; align=&quot;right&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; data-imagetype=&quot;External&quot;&gt; &lt;/span&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                     &lt;/tbody&gt;
                  &lt;/table&gt;
               &lt;/td&gt;
            &lt;/tr&gt;
         &lt;/tbody&gt;
      &lt;/table&gt;
   &lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMsgRefinanceCancellationNewPF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tbody style=&quot;white-space: pre;&quot;&gt; &lt;tr&gt; &lt;td style=&quot;white-space: normal;&quot;&gt; &lt;table style=&quot;width:650px; height:70px; margin:0 0 24.8px; padding:25.6px 25px 24.4px; background-color:#004c97&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/sro_header_logologo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;sro_header_logologo&quot; height=&quot;71&quot; title=&quot;SRO Victoria&quot; width=&quot;110&quot; style=&quot;max-width:1191.68px; width:110px; height:71px&quot;&gt; &lt;p&gt; &lt;span style=&quot;width: 368px; height: 38px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 28px; color: rgb(255, 255, 254); margin: 29.4px 67px 4.9px 0px;&quot;&gt;Victorian Homebuyer Fund&lt;/span&gt; &lt;/p&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;table style=&quot;width:600px; margin: 0 24px 0 24px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;b&gt;&lt;span style=&quot;font-size:25px;Font-family: Calibri, Arial, Helvetica, sans-serif;color: #004c97;&quot;&gt;Refinance request cancelled &lt;/span&gt;&lt;/b&gt; &lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Dear {!$Record.Refinance_Case_ID__r.New_Panel_Financier__r.Name}&lt;/span&gt; &lt;br&gt; &lt;br&gt; &lt;span style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt; The refinance request for the property {!$Record.Property_Address__c} has been cancelled.&lt;br&gt;&lt;br&gt; &lt;hr style=&quot;width: 600px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border: 0px; border-top: solid 1.5px #004c97;&quot;&gt; &lt;br&gt; &lt;b&gt;&lt;span style=&quot;font-size:20px; Font-family: Calibri, Arial, Helvetica, sans-serif; color: #004c97;&quot;&gt;Request details&lt;/span&gt;&lt;/b&gt; &lt;br&gt; &amp;nbsp; &lt;table style=&quot;width: 600px;border: none; color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Request ID&lt;/td&gt; &lt;td style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot; align=&quot;right&quot;&gt;{!$Record.Name}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Cancellation Reason&lt;/td&gt; &lt;td style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot; align=&quot;right&quot;&gt;{!$Record.Refinance_Case_ID__r.Cancellation_Reason__c}&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;Cancellation Comments&lt;/td&gt; &lt;td style=&quot;color:#212121; font-size:14px; Font-family: Calibri, Arial, Helvetica, sans-serif;&quot; align=&quot;right&quot;&gt;{!$Record.Refinance_Case_ID__r.Cancellation_Reason_Comments__c}  &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;br&gt; &lt;a href=&quot;{!$Setup.BaseURL__c.Portal_Base_URL__c}/lenders/s/confirmation/{!$Record.Id}&quot;&gt; &lt;span style=&quot;background-color: #1d4480; border: none; color: white; padding: 9px 41px 8px 42px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 25.5px 194px 32.3px 0px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;View request &amp;nbsp;&lt;/span&gt; &lt;/a&gt; &lt;/td&gt; &lt;/tr&gt;&lt;/tbody&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table style=&quot;width:650px&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;hr style=&quot;width:600px; border:0px; border-top:solid 1.5px #004c97&quot;&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;table style=&quot;width:650px; padding:0 14px 0 14px&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;span style=&quot;width: 300px; height: 24px; margin: 0px 0px 8px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0px; color: rgb(0, 76, 151);text-decoration:none;&quot;&gt;sro.vic.gov.au&amp;nbsp; &amp;nbsp; &amp;nbsp; Phone (03) 7020 1549&lt;/span&gt; &lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 14px; color: rgb(0, 76, 151); width: 300px; height: 19px; margin: 8px 0px 0px;&quot;&gt; © State of Victoria (State Revenue Office) &lt;br aria-hidden=&quot;true&quot;&gt;GPO Box 1641 Melbourne Victoria 3001&amp;nbsp; Australia &lt;/span&gt; &lt;/p&gt; &lt;/td&gt; &lt;td align=&quot;right&quot;&gt; &lt;span style=&quot;width: 256px; height: 24px; margin: 0px 0px 8px 25px; padding: 0px; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 18px; color: rgb(0, 76, 151);&quot;&gt; &lt;img data-imagetype=&quot;External&quot; src=&quot;{!$Setup.BaseURL__c.Org_URL__c}/file-asset-public/victoriastategovernmentlogo?oid={!$Organization.Id}&quot; align=&quot;right&quot; alt=&quot;victoria-state-government-logo&quot; height=&quot;51&quot; title=&quot;victoria-state-government-logo&quot; width=&quot;90&quot; style=&quot;max-width:1191.68px; width:90px; height:51px&quot;&gt; &lt;/span&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
