force-app/main/default/flows/RequestAnnualReviewRevision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Major_Update</name>
        <choiceText>Major Update</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MajorUpdate</elementReference>
        </value>
    </choices>
    <choices>
        <name>Minor_Update</name>
        <choiceText>Minor Update</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MinorUpdate</elementReference>
        </value>
    </choices>
    <constants>
        <name>MajorUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MajorUpdate</stringValue>
        </value>
    </constants>
    <constants>
        <name>MinorUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MinorUpdate</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsMinorUpdate</name>
        <label>IsMinorUpdate</label>
        <locationX>169</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>UpdateMajorUpdateRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MinorUpdateRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_the_request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MinorUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMinorUpdateRequest</targetReference>
            </connector>
            <label>MinorUpdateRequest</label>
        </rules>
    </decisions>
    <description>Request the revision on annual review record by SRO officer.</description>
    <interviewLabel>RequestAnnualReviewRevision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Annual Review Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAnnualReviewRecord</name>
        <label>GetAnnualReviewRecord</label>
        <locationX>176</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Annual_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMajorUpdateRequest</name>
        <label>UpdateMajorUpdateRequest</label>
        <locationX>174</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Annual_review_Request_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Revision__c</field>
            <value>
                <stringValue>Major Update Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Submission</stringValue>
            </value>
        </inputAssignments>
        <object>Annual_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMinorUpdateRequest</name>
        <label>UpdateMinorUpdateRequest</label>
        <locationX>540</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Annual_Review_Update_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Revision__c</field>
            <value>
                <stringValue>Minor Update Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Annual_Review__c</object>
    </recordUpdates>
    <screens>
        <name>Annual_review_Request_Update</name>
        <label>Annual Review Update Request</label>
        <locationX>188</locationX>
        <locationY>708</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMajor</name>
            <fieldText>&lt;p&gt;Request for Annual Review Major Update successfully submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Annual_Review_Update_Request</name>
        <label>Annual Review Update Request</label>
        <locationX>708</locationX>
        <locationY>475</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMinor</name>
            <fieldText>&lt;p&gt;Request for Annual Review Minor Update successfully submitted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Annual review update request</description>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>174</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsMinorUpdate</targetReference>
        </connector>
        <fields>
            <name>Choose_the_request_Type</name>
            <choiceReferences>Major_Update</choiceReferences>
            <choiceReferences>Minor_Update</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Update Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAnnualReviewRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
