force-app/main/default/flows/Send_Participation_Agreement_for_eSignature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Officer_Name</name>
        <label>Assign Selected Officer Name</label>
        <locationX>812</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>SelectedOfficerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfficerNames_choiceset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SRO_Officer_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loopVar_Assignment</name>
        <label>Loop Variable Assignment</label>
        <locationX>2104</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>LoopVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loop_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Loop_Variable</name>
        <label>Check Loop Variable</label>
        <locationX>1395</locationX>
        <locationY>776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoopVar_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_1</targetReference>
            </connector>
            <label>LoopVar_1</label>
        </rules>
        <rules>
            <name>LoopVar_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_2</targetReference>
            </connector>
            <label>LoopVar_2</label>
        </rules>
        <rules>
            <name>LoopVar_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_3</targetReference>
            </connector>
            <label>LoopVar_3</label>
        </rules>
        <rules>
            <name>loopvar4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_4</targetReference>
            </connector>
            <label>loopvar4</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OfficerNames_choiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SRO_Officer_Names__c</picklistField>
        <picklistObject>Conga_Setting__mdt</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Send Participation Agreement for eSignature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Participation Agreement for eSignature</label>
    <loops>
        <name>Loop_all_Applicants</name>
        <label>Loop all Applicants</label>
        <locationX>1684</locationX>
        <locationY>626</locationY>
        <collectionReference>Get_Applicant_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopVar_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_With_Applicant_SRO_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_SRO_Officer_Details</name>
        <label>Fetch SRO Officer Details</label>
        <locationX>1485</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SRO_Officer_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SRO_Officer_Names__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedOfficerName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conga_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_1</name>
        <label>Get Applicant 1</label>
        <locationX>449</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_2</name>
        <label>Get Applicant 2</label>
        <locationX>521</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_3</name>
        <label>Get Applicant 3</label>
        <locationX>1167</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_4</name>
        <label>Get Applicant 4</label>
        <locationX>1499</locationX>
        <locationY>1064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Records</name>
        <label>Get Applicant Records</label>
        <locationX>2085</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Applicant_SRO_Details</name>
        <label>Update Case with SRO and Applicants Details</label>
        <locationX>1756</locationX>
        <locationY>1192</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSEmail1__c</field>
            <value>
                <elementReference>Fetch_SRO_Officer_Details.SRO_Officer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSEmail2__c</field>
            <value>
                <elementReference>Get_Applicant_1.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSEmail3__c</field>
            <value>
                <elementReference>Get_Applicant_2.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSEmail4__c</field>
            <value>
                <elementReference>Get_Applicant_3.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSEmail5__c</field>
            <value>
                <elementReference>Get_Applicant_4.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSName1__c</field>
            <value>
                <elementReference>Fetch_SRO_Officer_Details.SRO_Officer_Names__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSName2__c</field>
            <value>
                <elementReference>Get_Applicant_1.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSName3__c</field>
            <value>
                <elementReference>Get_Applicant_2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSName4__c</field>
            <value>
                <elementReference>Get_Applicant_3.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSName5__c</field>
            <value>
                <elementReference>Get_Applicant_4.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participation_Agreement_Option__c</field>
            <value>
                <stringValue>With eSignature</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Select_an_SRO_Officer_from_list_below</name>
        <label>Select an SRO Officer from list below :</label>
        <locationX>754</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Would_you_like_to_Proceed</targetReference>
        </connector>
        <fields>
            <name>OfficerNames_selection</name>
            <choiceReferences>OfficerNames_choiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Officer&apos;s Name from below list :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;The SRO officer to whom the Participation Agreement needs to be sent.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Would_you_like_to_Proceed</name>
        <label>Would you like to Proceed ?</label>
        <locationX>927</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Officer_Name</targetReference>
        </connector>
        <fields>
            <name>UserPrompt</name>
            <fieldText>&lt;p&gt;Clicking on Next button will send the &lt;b&gt;Participation Agreement for eSignature&lt;/b&gt; to the SRO officer chosen and the Applicants of the Application. Are you sure you want to Proceed ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Click on &lt;b&gt;NEXT&lt;/b&gt; to initiate eSignatures for Participation Agreement.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>267</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Select_an_SRO_Officer_from_list_below</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedOfficerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL_Conga</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
