force-app/main/default/flows/Send_Payment_Request_to_Payment_Gateway.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Exception_Message</name>
        <label>Set Exception Message</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Failed to publish event to Payment Request channel - Payment ID: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Publish_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_Variables</name>
        <label>Set Message Variables</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Request sent - Payment ID: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Amount__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Biller_Code__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Biller_Code.Biller_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Description__c=VHF Payment, Email__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Primary_Participant.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Expiry_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Generate_Receipt__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Payment_ID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Integration_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_Variables_0</name>
        <label>Set Message Variables</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Request attempted - Payment ID: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardLogMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Amount__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Biller_Code__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Biller_Code.Biller_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Description__c=VHF Payment, Email__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Primary_Participant.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Expiry_Date__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Generate_Receipt__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Payment_ID__c=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Integration_Log_0</targetReference>
        </connector>
    </assignments>
    <description>Adding Error Handling
Added new fields: Added Trigger Order as 2. The Trigger Order should be 1)Payment notification and 2)Send Payment Request to payment gateway</description>
    <interviewLabel>Send Payment Request to Payment Gateway {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Payment Request to Payment Gateway</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Integration_Log</name>
        <label>Create Integration Log</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>StandardLogMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_System__c</field>
            <value>
                <stringValue>Service Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Data__c</field>
            <value>
                <elementReference>FieldData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ok</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Log_0</name>
        <label>Create Integration Log</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Set_Exception_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>StandardLogMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_System__c</field>
            <value>
                <stringValue>Service Victoria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Data__c</field>
            <value>
                <elementReference>FieldData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Publish_Exception</name>
        <label>Log Publish Exception</label>
        <locationX>440</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Send Payment Request to Payment Gateway</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Publish Platform Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Payment Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Log__c</field>
            <value>
                <elementReference>Create_Integration_Log_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ExceptionMsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Publish payment request message</description>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Set_Message_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Message_Variables_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Biller_Code__c</field>
            <value>
                <elementReference>Get_Biller_Code.Biller_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>VHF Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Primary_Participant.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generate_Receipt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_ID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Request__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Biller_Code</name>
        <label>Get Biller Code</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VHF_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Participant</name>
        <label>Get Primary Participant</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Biller_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Participant</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExceptionMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardLogMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
