force-app/main/default/flows/Send_Participation_for_Signature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_URL_To_Navigate</name>
        <label>Send_URL_To_Navigate</label>
        <locationX>1714</locationX>
        <locationY>1194</locationY>
        <actionName>c:SRO_IndividualApplicationRedirection</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>congaUrl</name>
            <value>
                <elementReference>URL_Conga</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Applicant_1_SROofficer_URL</name>
        <label>Applicant 1 and SRO Officer URL</label>
        <locationX>777</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Custom_Setting_Base_URL.Org_URL__c}/apex/APXTConga4__Conga_Composer?SolMgr=1&amp;serverUrl={$API.Partner_Server_URL_370}&amp;Id={!recordId}&amp;QueryId=[contracts]{!Fetch_Query_ID.QueryID__c}&amp;TemplateId=[Participation+Agreement]{!Fetch_Query_ID.TemplatedID__c}&amp;DS7=1142&amp;OCNR=2&amp;BML=Please+close+the+tab+after+merge+is+completed!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;CSEmail1={!Fetch_SRO_Officer_Details.SRO_Officer_Email__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;CSName1={!Fetch_SRO_Officer_Details.SRO_Officer_Names__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;CSEmail2={!Get_Applicant_1.PersonEmail}&amp;CSName2={!Get_Applicant_1.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_2_URL</name>
        <label>Applicant 2 URL</label>
        <locationX>1325</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;CSEmail3={!Get_Applicant_2.PersonEmail}&amp;CSName3={!Get_Applicant_2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_3_URL</name>
        <label>Applicant 3 URL</label>
        <locationX>1413</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;CSEmail4={!Get_Applicant_3.PersonEmail}&amp;CSName4={!Get_Applicant_3.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_4_URL</name>
        <label>Applicant 4 URL</label>
        <locationX>1622</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>URL_Conga</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;CSEmail5={!Get_Applicant_4.PersonEmail}&amp;CSName5={!Get_Applicant_4.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Officer_Name</name>
        <label>Assign Selected Officer Name</label>
        <locationX>812</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>SelectedOfficerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfficerNames_choiceset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SRO_Officer_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loopVar_Assignment</name>
        <label>Loop Variable Assignment</label>
        <locationX>2104</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>LoopVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loop_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Loop_Variable</name>
        <label>Check Loop Variable</label>
        <locationX>1395</locationX>
        <locationY>776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoopVar_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_1</targetReference>
            </connector>
            <label>LoopVar_1</label>
        </rules>
        <rules>
            <name>LoopVar_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_2</targetReference>
            </connector>
            <label>LoopVar_2</label>
        </rules>
        <rules>
            <name>LoopVar_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_3</targetReference>
            </connector>
            <label>LoopVar_3</label>
        </rules>
        <rules>
            <name>loopvar4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_4</targetReference>
            </connector>
            <label>loopvar4</label>
        </rules>
    </decisions>
    <description>-&gt; Added [Contracts] next to Query ID - Nayana</description>
    <dynamicChoiceSets>
        <name>OfficerNames_choiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SRO_Officer_Names__c</picklistField>
        <picklistObject>Conga_Setting__mdt</picklistObject>
    </dynamicChoiceSets>
    <label>Send Participation Agreement for Signature</label>
    <loops>
        <name>Loop_all_Applicants</name>
        <label>Loop all Applicants</label>
        <locationX>1676</locationX>
        <locationY>668</locationY>
        <collectionReference>Get_Applicant_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopVar_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_URL_To_Navigate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Custom_Setting_Base_URL</name>
        <label>Custom Setting Base URL</label>
        <locationX>580</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Query_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Org_URL__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BaseURL__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Org_URL__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Query_ID</name>
        <label>Fetch Query ID</label>
        <locationX>609</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_1_SROofficer_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Participation_Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conga_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_SRO_Officer_Details</name>
        <label>Fetch SRO Officer Details</label>
        <locationX>1485</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SRO_Officer_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SRO_Officer_Names__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedOfficerName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conga_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_1</name>
        <label>Get Applicant 1</label>
        <locationX>781</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Setting_Base_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_2</name>
        <label>Get Applicant 2</label>
        <locationX>1293</locationX>
        <locationY>1053</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_2_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_3</name>
        <label>Get Applicant 3</label>
        <locationX>1167</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_3_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_4</name>
        <label>Get Applicant 4</label>
        <locationX>1499</locationX>
        <locationY>1064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_4_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Applicants.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Records</name>
        <label>Get Applicant Records</label>
        <locationX>2085</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_an_SRO_Officer_from_list_below</name>
        <label>Select an SRO Officer from list below :</label>
        <locationX>816</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Officer_Name</targetReference>
        </connector>
        <fields>
            <name>OfficerNames_selection</name>
            <choiceReferences>OfficerNames_choiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Officer&apos;s Name from below list :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;The SRO officer to whom the Participation Agreement needs to be sent.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>267</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Select_an_SRO_Officer_from_list_below</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedOfficerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL_Conga</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
