force-app/main/default/flows/Set_Post_Settlement_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Record_Owner</name>
        <label>Assign Record Owner</label>
        <locationX>1035</locationX>
        <locationY>882</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>All SRO Operations Users</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Change_Ownership</name>
        <label>Change Ownership</label>
        <locationX>927</locationX>
        <locationY>1189</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>All Operations Profile Users</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>875</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>PersonAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>617</locationX>
        <locationY>1189</locationY>
        <assignmentItems>
            <assignToReference>PersonAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_User_Collection</name>
        <label>Add to User Collection</label>
        <locationX>368</locationX>
        <locationY>1575</locationY>
        <assignmentItems>
            <assignToReference>PortalUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewUserRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Participant</name>
        <label>Assign Additional Participant</label>
        <locationX>1111</locationX>
        <locationY>1189</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Is_Participant__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Parent_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateParentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Panel_Finance_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set as Primary Participant</description>
        <name>Assign_Primary_Participant</name>
        <label>Assign Primary Participant</label>
        <locationX>1214</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Is_Participant__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Primary_Participant__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Parent_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateParentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Panel_Finance_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Panel_Finance_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TempUsername_Value</name>
        <label>Assign TempUsername Value</label>
        <locationX>735</locationX>
        <locationY>1425</locationY>
        <assignmentItems>
            <assignToReference>Temp_Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.PersonAlias__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_User_Record</name>
        <label>Create User Record</label>
        <locationX>734</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>NewUserRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Participant_Profile_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.PersonAlias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Username_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia/Sydney</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUserRecord.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_AU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_User_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_existing_Property_Record</name>
        <label>Check existing Property Record</label>
        <locationX>1386</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPropertyRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Application_Community_User</targetReference>
            </connector>
            <label>Existing Record Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Participant_Active</name>
        <label>Is Participant Active</label>
        <locationX>601</locationX>
        <locationY>1328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Participant_New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Participants.Is_Participant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Participants.IsActiveApplicant__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Participants.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TempUsername_Value</targetReference>
            </connector>
            <label>Active Participant New User</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCommunityUserActive</name>
        <label>Is Community User Active ?</label>
        <locationX>1404</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Create_Property_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsActiveTrue</defaultConnectorLabel>
        <rules>
            <name>IsActiveFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Final_Application_Community_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Community_User</targetReference>
            </connector>
            <label>IsActiveFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimaryParticipant</name>
        <label>PrimaryParticipant</label>
        <locationX>1104</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Assign_Additional_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicationCaseId__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Person_Account.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Participant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Is_VHF_Application</name>
        <label>RecordType Is VHF Application</label>
        <locationX>603</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Get_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VHF_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VHFFinalApplication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Application_Record</targetReference>
            </connector>
            <label>VHF Application</label>
        </rules>
    </decisions>
    <description>VHF-3045 Added Update Case element to link application case to newly created property record
VHF-3136 (11/11/2021)
VHF-3105+Including Round Robin Assignment+PropertyOwnerChanges latest version
VHF-4761 - Changed the Group for Round Robin Assignment to SRO Operations Users
VHF-3209(Loan Maturity Date)
VHF-5564- Set the BypassValidation falg to True at the time of property record creation
VHF-5681(Inactive User exception)</description>
    <formulas>
        <description>Calculate Loan Maturity date from Actual settlement date and Loan Term</description>
        <name>calculateLoanMaturityDate</name>
        <dataType>Date</dataType>
        <expression>IF(
AND(
MONTH({!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ) = 2,
DAY({!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ) = 29,
 NOT( 
      OR( 
        MOD( YEAR( {!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ) +
         {!Get_Final_Application_Record.Loan_Term_Years__c}, 400 ) = 0, 
        AND( 
          MOD( YEAR( {!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ) + 
          {!Get_Final_Application_Record.Loan_Term_Years__c}, 4 ) = 0,
          MOD( YEAR( {!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ) + 
          {!Get_Final_Application_Record.Loan_Term_Years__c}, 100 ) != 0
        )
      )
    ) 
),
DATE(
YEAR({!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} )+
{!Get_Final_Application_Record.Loan_Term_Years__c},
3,
1),
DATE(
YEAR({!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ) +
{!Get_Final_Application_Record.Loan_Term_Years__c},
MONTH({!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} ),
DAY({!Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c} )
)
)</expression>
    </formulas>
    <formulas>
        <name>LenderActiveCommunityUser</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Final_Application_Community_User.IsActive} =True, {!Get_Final_Application_Community_User.Id},{!Get_Active_Community_User.Id})</expression>
    </formulas>
    <formulas>
        <name>Temp_Username_Formula</name>
        <dataType>String</dataType>
        <expression>{!Temp_Username} + {!Temp_Alias}</expression>
    </formulas>
    <interviewLabel>Set Post Settlement Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Post Settlement Actions</label>
    <loops>
        <name>Loop_Applicants</name>
        <label>Loop Applicants</label>
        <locationX>617</locationX>
        <locationY>1032</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Person_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Participant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Participants</name>
        <label>Loop Participants</label>
        <locationX>368</locationX>
        <locationY>1323</locationY>
        <collectionReference>PersonAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Participant_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Property_Record</name>
        <label>Create Property Record</label>
        <locationX>1397</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>Update_Final_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Final_Application_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Settlement_Date__c</field>
            <value>
                <elementReference>Get_Final_Application_Record.ApplicationCaseId__r.Actual_Settlement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ByPassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Get_Final_Application_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealing_Number__c</field>
            <value>
                <elementReference>Get_Final_Application_Record.ApplicationCaseId__r.Dealing_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Maturity_Date__c</field>
            <value>
                <elementReference>calculateLoanMaturityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Final_Application_Record.Volume__c}-{!Get_Final_Application_Record.Folio__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LenderActiveCommunityUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Financier_Name__c</field>
            <value>
                <elementReference>Get_Final_Application_Record.Panel_Finance_Officer__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Equity_Interest__c</field>
            <value>
                <elementReference>Get_Final_Application_Record.VHF_Contribution_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Equity_Money__c</field>
            <value>
                <elementReference>Get_Final_Application_Record.VHF_Contribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Final_Application_Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Final_Application_Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Final_Application_Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Final_Application_Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Final_Application_Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Users</name>
        <label>Create Users</label>
        <locationX>137</locationX>
        <locationY>1322</locationY>
        <inputReference>PortalUserList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This will create a parent account that needs to be associated with the participant (person) Accounts</description>
        <name>CreateParentAccount</name>
        <label>CreateParentAccount</label>
        <locationX>800</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>Get_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Parent-{!Get_Final_Application_Record.AccountId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Community_User</name>
        <label>Get Active Community User</label>
        <locationX>1503</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Property_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Application_Community_User.ProfileId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Application_Record.Panel_Finance_Officer__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>617</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IndividualApplicationId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Application_Community_User</name>
        <label>Get Final Application Community User</label>
        <locationX>1403</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCommunityUserActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Application_Record.Panel_Finance_Officer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Application_Record</name>
        <label>Get Final Application Record</label>
        <locationX>848</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Property_Records_by_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant_Profile_Id</name>
        <label>Get Participant Profile Id</label>
        <locationX>369</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VHF Participant Community Plus User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>902</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrimaryParticipant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Applicants.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the property record by Name to check existing records in the system.</description>
        <name>Get_Property_Records_by_Name</name>
        <label>Get Property Records by Name</label>
        <locationX>1046</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_existing_Property_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!Get_Final_Application_Record.Volume__c}-{!Get_Final_Application_Record.Folio__c}</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>ExistingPropertyRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This will fetch the account record type that will be assigned to the Parent Account.</description>
        <name>GetAccountRecordType</name>
        <label>GetAccountRecordType</label>
        <locationX>962</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateParentAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1113</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>GetAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicationCaseId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsFinalApp_Settled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>Create_Property_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Final Application Record with Property Details</description>
        <name>Update_Final_Application</name>
        <label>Update Final Application</label>
        <locationX>1249</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>Create_Property_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Participant</name>
        <label>Update Participant</label>
        <locationX>368</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Get_Participant_Profile_Id</targetReference>
        </connector>
        <inputReference>PersonAccounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>684</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecordType_Is_VHF_Application</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingPropertyRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PersonAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PortalUserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Temp_Alias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserProfileRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>UserUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserUpdateRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
