force-app/main/default/flows/Update_Valuation_for_other_Property_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Fields_to_Update</name>
        <label>Set Fields to Update</label>
        <locationX>264</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>Loop_Relevant_Cases.Property_Market_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_Market_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Relevant_Cases.Property_Valuation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_Valuation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Relevant_Cases.Valuation_Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Valuation_Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Relevant_Cases.Valuation_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Valuation_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Relevant_Cases.Renovation_Increase_in_Property_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renovation_Increase_in_Property_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Relevant_Cases.Renovation_Decrease_in_Property_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renovation_Decrease_in_Property_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Relevant_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_in_Relevant_Records</name>
        <label>Store in Relevant Records</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RelevantCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Common_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Common_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_in_Relevant_Records_0</name>
        <label>Store in Relevant Records</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>RelevantCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ITE_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ITE_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_in_Relevant_Records_0_0</name>
        <label>Store in Relevant Records</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>RelevantCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Property_Sale_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Property_Sale_Cases</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Remove_changed_record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove changed record</label>
        <locationX>176</locationX>
        <locationY>2039</locationY>
        <assignNextValueToReference>currentItem_Remove_changed_record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>RelevantCases</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_changed_record.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_Relevant_Cases</targetReference>
        </connector>
    </collectionProcessors>
    <description>VHF-3572 - Ensures updated valuation is also reflected in relevant cases under the same property</description>
    <interviewLabel>Cas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Valuation for other Property Cases</label>
    <loops>
        <name>Loop_Common_Cases</name>
        <label>Loop Common Cases</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Common_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_in_Relevant_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ITE_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ITE_Cases</name>
        <label>Loop ITE Cases</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_ITE_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_in_Relevant_Records_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Property_Sale_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Property_Sale_Cases</name>
        <label>Loop Property Sale Cases</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <collectionReference>Get_Property_Sale_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_in_Relevant_Records_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Relevant_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Relevant_Cases</name>
        <label>Loop Relevant Cases</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <collectionReference>RelevantCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fields_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_changed_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>440</locationX>
        <locationY>2279</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <stringValue>Update Valuation for other Property Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_Name__c</field>
            <value>
                <stringValue>Update Relevant Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <stringValue>Property Valuation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed to update valuation details in other cases against property</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Common_Cases</name>
        <label>Get Common Cases</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Common_Cases</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Windfall Gains</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voluntary Payments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Information</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Property_Market_Value__c</queriedFields>
        <queriedFields>Property_Valuation_Date__c</queriedFields>
        <queriedFields>Valuation_Reference_Number__c</queriedFields>
        <queriedFields>Valuation_Fee__c</queriedFields>
        <queriedFields>Renovation_Increase_in_Property_Value__c</queriedFields>
        <queriedFields>Renovation_Decrease_in_Property_Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ITE_Cases</name>
        <label>Get ITE Cases</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ITE_Cases</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income Threshold Exceeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Increase Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Increase Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Information</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Property_Market_Value__c</queriedFields>
        <queriedFields>Property_Valuation_Date__c</queriedFields>
        <queriedFields>Valuation_Reference_Number__c</queriedFields>
        <queriedFields>Valuation_Fee__c</queriedFields>
        <queriedFields>Renovation_Increase_in_Property_Value__c</queriedFields>
        <queriedFields>Renovation_Decrease_in_Property_Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Sale_Cases</name>
        <label>Get Property Sale Cases</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Property_Sale_Cases</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved - Awaiting Contract of Sale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Property_Market_Value__c</queriedFields>
        <queriedFields>Property_Valuation_Date__c</queriedFields>
        <queriedFields>Valuation_Reference_Number__c</queriedFields>
        <queriedFields>Valuation_Fee__c</queriedFields>
        <queriedFields>Renovation_Increase_in_Property_Value__c</queriedFields>
        <queriedFields>Renovation_Decrease_in_Property_Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Relevant_Cases</name>
        <label>Update Relevant Cases</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputReference>Remove_changed_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Common_Cases</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Property_Valuation_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Property_Market_Value__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Valuation_Reference_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Valuation_Fee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renovation_Increase_in_Property_Value__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renovation_Decrease_in_Property_Value__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Remove_changed_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Cases which need the valuation details to be updated</description>
        <name>RelevantCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
